@import "~src/sass/variables";

.restaurant-page__ {

  &container {
    font-family: Lato;
    display: flex;
    height: 100%;
    width: 75%;
    padding-left: 10px;
    padding-top: 15px;
    color: $black-lalivraison;
    justify-content: center;

    hr {
      width: 100%;
    }

    .mat-icon {
      height: 17px !important;
    }
  }

  &presentation {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;

    &-images-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-image {
      width: 100%;
      min-width: 100%;
      height: 220px;
    }

    &-sub-image {
      height: 115px;
      width: 115px;
      border-radius: 50%;
      margin-left: 15%;
      margin-top: -65px;
      border: white solid 4px;
    }

    &-restaurant- {

      &infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-text {
          font-size: 14px;
          margin-top: -15px;
        }
      }

      &name {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      &speciality {
        font-style: italic;
        letter-spacing: 1.4px;
        color: $blue-lalivraison;
        line-height: 30px;
      }

      &phone {
        letter-spacing: 1.4px;
        color: $blue-lalivraison;
        line-height: 40px;
        text-decoration: underline;
      }

      &show-details {
        display: none;
      }

      &time {
        background-color: $gray-lalivraison;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 25px;

        &-text {
          margin-top: -2px;
        }

        &-icon {
          font-size: 15px;
        }
      }

      &description {
        //text-align: center;
        background-color: $gray-lalivraison;
        color: #777272;
        width: 320px;
        height: 50px;
        border-radius: 10px;
        padding: 20px 25px 10px 25px;
        font-size: 14px;

        &-details {
          color: $blue-lalivraison;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &menu {
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
          display: none;
        }

        &-item {
          height: 60px;
          min-width: 90px;
          padding: 0 10px 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          font-weight: 700;
          letter-spacing: 1.8px;
          margin-right: 10px;
          //z-index: 99;

          &:hover {
            border-bottom: 4px $blue-lalivraison solid;
            cursor: pointer;
            height: 56px;
          }

          &-icon {
            margin-top: -5px;
          }
        }
      }
    }
  }

  &basket {
    width: 30%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 480px) {
  .restaurant-page__ {

    &container {
      width: 95%;
    }

    &presentation {
      width: 95%;

      &-image {
        height: 190px;
      }

      &-restaurant- {

        &description {
          display: none;
        }

        &phone {
          display: none;
        }

        &show-details {
          display: block;
          font-size: 40px;
          color: $blue-lalivraison;
        }

        &time {
          display: none;
        }

        &infos-text {
          margin-top: -5px;
        }

        &menu-item {
          font-size: 20px;
        }

      }
    }

    &basket {
      display: none;
    }
  }
}
