@import "~src/sass/variables";

.restaurant-page__ {

  &container {
    font-family: Lato;
    display: flex;
    height: 100%;
    width: 75%;
    padding-left: 10px;
    padding-top: 15px;
    color: $black-lalivraison;
    justify-content: center;
    padding-bottom: 40px;

    hr {
      width: 100%;
      background-color: black;
      height: 1px;
    }

    .mat-icon {
      height: 17px !important;
    }

    .mat-button {
      min-width: 10px !important;
      width: 20px !important;
      height: 30px !important;
      //background-color: lightgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $blue-lalivraison;
    }
  }

  &presentation {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    //height: 100%;
    min-height: 100% !important;

    &-images-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-image {
      width: 100%;
      min-width: 100%;
      height: 220px;
    }

    &-sub-image {
      height: 115px;
      width: 115px;
      border-radius: 50%;
      margin-left: 15%;
      margin-top: -65px;
      border: white solid 4px;
    }

    &-restaurant- {

      &infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        //justify-content: space-around;
        width: 100%;
        //background-color: lightskyblue;

        &-text {
          font-size: 14px;
          margin-top: -15px;
        }
      }

      &name {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      &speciality {
        font-style: italic;
        letter-spacing: 1.4px;
        color: $blue-lalivraison;
        line-height: 30px;
      }

      &phone {
        letter-spacing: 1.4px;
        color: $blue-lalivraison;
        line-height: 40px;
        text-decoration: underline;
      }

      &show-details-button {
        display: none !important;
      }

      &time {
        background-color: $gray-lalivraison;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 25px;

        &-mobile {
          display: none;
        }

        &-text {
          margin-top: -2px;
          font-weight: bolder;
        }

        &-icon {
          font-size: 15px;
        }
      }

      &description {
        background-color: $gray-lalivraison;
        color: #777272;
        width: 320px;
        height: 50px;
        border-radius: 10px;
        padding: 20px 25px 10px 25px;
        font-size: 14px;

        &-details {
          color: $blue-lalivraison;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &menu {
        min-height: 50px;
        display: flex;
        overflow-x: scroll;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }

        &-item {
          height: 50px;
          min-width: 90px;
          padding: 0 10px 0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 17px;
          font-weight: 700;
          letter-spacing: 1.8px;
          margin-right: 10px;

          &:hover {
            border-bottom: 4px $blue-lalivraison solid;
            cursor: pointer;
            height: 46px;
          }

          &-icon {
            margin-top: -5px;
          }
        }
      }
    }
  }

  &basket {
    width: 30%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .restaurant-page__ {

    &container {
      width: 100%;
      padding-left: 0;
    }

    &presentation {
      width: 95%;
      padding-right: 0;

      &-image {
        height: 190px;
      }

      &-restaurant- {

        &description {
          display: none;

          &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &-opened {
            display: block;
            width: 85%;
          }
        }

        &phone {
          display: none;
        }

        &show-details {
          display: flex;
          font-size: 40px;
          color: $blue-lalivraison;
          width: 40px;
          border: none;
          outline: none;

          &-button {
            display: flex !important;
          }
        }

        &time {
          display: none;

          &-mobile {
            background-color: $gray-lalivraison;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            height: 25px;
            margin-top: 10px;
          }
        }

        &infos-text {
          margin-top: -5px;
        }

        &menu-item {
          font-size: 20px;
        }

      }
    }

    &basket {
      display: none;
    }
  }
}
