<div class="restaurant-page__container">
  <div class="restaurant-page__presentation">

    <div class="restaurant-page__presentation-images-container">
      <img [src]=image class="restaurant-page__presentation-image">
      <img [src]=subImage class="restaurant-page__presentation-sub-image"/>
    </div>

    <div class="restaurant-page__presentation-restaurant-infos">
      <div>
        <span class="restaurant-page__presentation-restaurant-name">
          NIKKEI.MA
        </span>
        <span class="restaurant-page__presentation-restaurant-speciality">Cuisine Nippone</span>
      </div>
      <span class="restaurant-page__presentation-restaurant-phone">05 22 99 48 77</span>
      <button class="restaurant-page__presentation-restaurant-show-details-button"
              mat-button (click)="showRestaurantDescription()">
        <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 40px">
          {{restaurantDescriptionOpened===true ?'arrow_drop_up' : 'arrow_drop_down'}}
          </mat-icon>
      </button>
    </div>

    <div class="restaurant-page__presentation-restaurant-infos">
      <span class="restaurant-page__presentation-restaurant-infos-text">
        Livraison gratuite. Commande minimum 140dhs
      </span>
      <div class="restaurant-page__presentation-restaurant-time">
        <mat-icon class="restaurant-page__presentation-restaurant-time-icon">access_time</mat-icon>
        <span class="restaurant-page__presentation-restaurant-time-text">11h - 22h</span>
      </div>
    </div>

    <div class="restaurant-page__presentation-restaurant-description-container"
         style="">
      <div class="restaurant-page__presentation-restaurant-description"
           [ngClass]="{'restaurant-page__presentation-restaurant-description-opened' : restaurantDescriptionOpened===true}">
        NIKKEI met un point d'honneur à développer
        une large gamme de sushis, de plateaux... &nbsp;
        <span class="restaurant-page__presentation-restaurant-description-details">Plus</span>

      </div>
      <div class="restaurant-page__presentation-restaurant-time-mobile">
        <mat-icon class="restaurant-page__presentation-restaurant-time-icon">access_time</mat-icon>
        <span class="restaurant-page__presentation-restaurant-time-text">11h - 22h</span>
      </div>
    </div>


    <div class="restaurant-page__presentation-restaurant-menu-container">
      <hr style="margin-top: 30px">
      <div class="restaurant-page__presentation-restaurant-menu">
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(0)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===0}">Entrées</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(1)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===1}">Yakitori</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(2)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===2}">Tartare</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(3)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===3}">Sashimi</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(4)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===4}">Tataki</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(5)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===5}">Entrées</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(6)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===6}">Yakitori</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(7)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===7}">Tartare</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(8)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===8}">Sashimi</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(9)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===9}">Tataki</div>
        <div class="restaurant-page__presentation-restaurant-menu-item"
             (click)="setItemSelectedIndex(10)"
             [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : itemSelectedIndex===10}">
          Liste complète
          <mat-icon class="restaurant-page__presentation-restaurant-menu-item-icon">keyboard_arrow_down</mat-icon>
        </div>
      </div>
      <hr style="margin-bottom: 20px">
    </div>

    <app-selected-heading name="Entrées"
                          class="restaurant-page__presentation-selected-heading">
    </app-selected-heading>


  </div>
  <div class="restaurant-page__basket">
    <div class="restaurant-page__basket-header">
      <div style="font-style: italic; font-size: 20px">Votre Panier</div>
      <div style="display: flex; justify-content: center">
        <img style="height:20px; width:20px; margin-top: -2px" src="../../../assets/images/map.png">&nbsp;&nbsp;
        <span>N: 14, Rue Al Adarisaa, Maarif, Casablanca.</span>
      </div>
      <div style="color: black; text-decoration: underline; cursor: pointer">(Changer)</div>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 405px; overflow-y: scroll">

      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; margin-top: 10px; -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p2.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">WAKAME SAUMON</span>
            <div style="display: flex; align-items: center">
              <div style="display: flex; align-items: center">
                <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
                <span>&nbsp;&nbsp;1&nbsp;&nbsp;</span>
                <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              </div>
              <span style="color: #21CCBB;">65.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>


      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p1.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">SALADE DE CHOUX</span>
            <div style="display: flex; align-items: center">
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
              <span>&nbsp;&nbsp;2&nbsp;&nbsp;</span>
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              <span style="color: #21CCBB;">50.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p2.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">WAKAME SAUMON</span>
            <div style="display: flex; align-items: center">
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
              <span>&nbsp;&nbsp;1&nbsp;&nbsp;</span>
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              <span style="color: #21CCBB;">65.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>


      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p1.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">SALADE DE CHOUX</span>
            <div style="display: flex; align-items: center">
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
              <span>&nbsp;&nbsp;2&nbsp;&nbsp;</span>
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              <span style="color: #21CCBB;">50.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>


      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p2.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">WAKAME SAUMON</span>
            <div style="display: flex; align-items: center">
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
              <span>&nbsp;&nbsp;1&nbsp;&nbsp;</span>
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              <span style="color: #21CCBB;">65.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>




      <div style="width: 90%; min-height: 70px; border-radius: 15px; display: flex; flex-direction: column; background-color: white; margin-bottom: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="width: 100%; display: flex; justify-content: flex-end">
          <button mat-icon-button>x</button>
        </div>
        <div style="display: flex; padding: 0 10px 0 10px; margin-top: -10px">
          <img style="height: 40px; width: 40px; border-radius: 10px; margin-right: 15px"
               src="../../../assets/images/p2.png">
          <div style="display: flex; flex-direction: column">
            <span style="font-weight: bold; font-size: 12px">WAKAME SAUMON</span>
            <div style="display: flex; align-items: center">
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer">remove</mat-icon>
              <span>&nbsp;&nbsp;1&nbsp;&nbsp;</span>
              <mat-icon style="font-size: 16px; background-color: #21CCBB; display: flex; justify-content: center; border-radius: 15px; cursor: pointer; margin-right: 10px">add</mat-icon>
              <span style="color: #21CCBB;">65.00 Dhs</span>
            </div>
          </div>
        </div>
      </div>





    </div>


    <div style="width: 100%; display: flex; flex-direction: column; align-items: center">

      <!--<div style="width: 90%; height: 35px; background-color: lightpink; margin-top: 10px; border-radius: 15px; display: flex">-->
        <!--<div style="width: 50%; height: 100%; border-radius: 15px 0 0 15px; background-color: lightgoldenrodyellow; display: flex; align-items: center; justify-content: center">Livrer</div>-->
        <!--<div style="width: 50%; height: 100%; border-radius: 0 15px 15px 0; background-color: lightsalmon; display: flex; align-items: center; justify-content: center">Emporter</div>-->
      <!--</div>-->

      <div style="width: 90%; min-height: 100px; background-color: white; margin-top: 10px; border-radius: 15px; display: flex; flex-direction: column; align-items: center; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
        <div style="display: flex; justify-content: space-between; width: 70%; margin-top: 10px">
          <div>Sous-total</div>
          <div>765.00 Dhs</div>
        </div>
        <div style="display: flex; justify-content: space-between; width: 70%; margin-top: 10px">
          <div>Livraison</div>
          <div>0 Dhs</div>
        </div>
        <hr style="width: 70%; border: none; color: lightgray">
        <div style="display: flex; justify-content: space-between; width: 70%">
          <div>Total</div>
          <div>765.00 Dhs</div>
        </div>
        <!--<div style="display: flex; justify-content: space-between; width: 100%; padding: 10px 20px 10px 20px">-->
          <!--<div>Livraison</div>-->
          <!--<div>0 Dhs</div>-->
        <!--</div>-->
      </div>

      <mat-button-toggle-group style="border-radius: 15px; height: 35px; width: 90%; display: flex; align-items: center; justify-content: center; margin-top: 10px;
      box-shadow: 0px 0px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);">
        <mat-button-toggle style="width: 50%">Livrer</mat-button-toggle>
        <mat-button-toggle style="width: 50%">Emporter</mat-button-toggle>
      </mat-button-toggle-group>

      <button mat-raised-button style="width: 90%; border-radius: 15px; margin-top: 10px; margin-bottom: 10px" color="primary">Je commande</button>

    </div>




  </div>
</div>
