<div class="restaurant-page__container">
  <div class="restaurant-page__presentation">

    <div class="restaurant-page__presentation-images-container">
      <img [src]=restaurant.image class="restaurant-page__presentation-image">
      <img [src]=restaurant.subImage class="restaurant-page__presentation-sub-image"/>
    </div>

    <div class="restaurant-page__presentation-restaurant-infos">
      <div>
        <span class="restaurant-page__presentation-restaurant-name">
          {{restaurant.name}}
        </span>
        <span class="restaurant-page__presentation-restaurant-speciality">{{restaurant.kitchenType}}</span>
      </div>
      <span class="restaurant-page__presentation-restaurant-phone">{{restaurant.phoneNumber}}</span>
      <button class="restaurant-page__presentation-restaurant-show-details-button"
              mat-button (click)="showRestaurantDescription()">
        <mat-icon style="display: flex; align-items: center; justify-content: center; font-size: 40px">
          {{restaurantDescriptionOpened===true ?'arrow_drop_up' : 'arrow_drop_down'}}
          </mat-icon>
      </button>
    </div>

    <div class="restaurant-page__presentation-restaurant-infos">
      <span class="restaurant-page__presentation-restaurant-infos-text">
        Livraison gratuite. Commande minimum {{restaurant.orderFreeMinPrice}} dhs
      </span>
      <div class="restaurant-page__presentation-restaurant-time">
        <mat-icon class="restaurant-page__presentation-restaurant-time-icon">access_time</mat-icon>
        <span class="restaurant-page__presentation-restaurant-time-text">
          {{restaurant.openTime}}h - {{restaurant.closeTime}}h
        </span>
      </div>
    </div>

    <div class="restaurant-page__presentation-restaurant-description-container"
         style="">
      <div class="restaurant-page__presentation-restaurant-description"
           [ngClass]="{'restaurant-page__presentation-restaurant-description-opened' : restaurantDescriptionOpened===true}">
        NIKKEI met un point d'honneur à développer
        une large gamme de sushis, de plateaux... &nbsp;
        <span class="restaurant-page__presentation-restaurant-description-details">Plus</span>

      </div>
      <div class="restaurant-page__presentation-restaurant-time-mobile">
        <mat-icon class="restaurant-page__presentation-restaurant-time-icon">access_time</mat-icon>
        <span class="restaurant-page__presentation-restaurant-time-text">{{restaurant.openTime}}h - {{restaurant.closeTime}}h</span>
      </div>
    </div>


    <div class="restaurant-page__presentation-restaurant-menu-container">
      <hr style="margin-top: 30px">
      <div class="restaurant-page__presentation-restaurant-menu">
        <div class="restaurant-page__presentation-restaurant-menu-scroll-button">
          <button mat-icon-button (click)="scrollLeft(menuItems)">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div #menuItems class="restaurant-page__presentation-restaurant-menu">

          <div class="restaurant-page__presentation-restaurant-menu-item"
               *ngFor="let heading of restaurant.headings; let i = index"
               (click)="setSelectedHeadingIndex(i)"
               [ngClass]="{'restaurant-page__presentation-restaurant-menu-item-selected' : selectedHeadingIndex===i}">
            {{heading.name}}
          </div>
        </div>
        <div class="restaurant-page__presentation-restaurant-menu-scroll-button">
          <button mat-icon-button (click)="scrollRight(menuItems)">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <hr style="margin-bottom: 20px">
    </div>

    <app-selected-heading class="restaurant-page__presentation-selected-heading"
                          [heading]="restaurant.headings[selectedHeadingIndex]">
    </app-selected-heading>


  </div>
  <div class="restaurant-page__basket">
    <div class="restaurant-page__basket-container">
      <div class="restaurant-page__basket-header">
        <div class="restaurant-page__basket-header-title">Votre Panier</div>
        <div class="restaurant-page__basket-header-address">
          <img class="restaurant-page__basket-header-address-image"
               src="../../../assets/images/map.png">&nbsp;&nbsp;
          <span>Maarif, Casablanca.</span>
        </div>
        <div class="restaurant-page__basket-header-address-change">Changer</div>
      </div>

      <div class="restaurant-page__basket-items">

        <div *ngFor="let item of basketService.items" class="restaurant-page__basket-item" style="margin-top: 10px">
          <div class="restaurant-page__basket-item-remove">
            <button (click)="removeItem(item)"
                    mat-icon-button class="restaurant-page__basket-item-remove-button">
              <mat-icon class="restaurant-page__basket-item-remove-button-icon">close</mat-icon>
            </button>
          </div>
          <div class="restaurant-page__basket-item-body">
            <img class="restaurant-page__basket-item-body-image"
                 (click)="showDialogDetails(item)"
                 [src]="item.image">
            <div class="restaurant-page__basket-item-body-details">
              <span class="restaurant-page__basket-item-body-details-name">{{item.name}}</span>
              <div class="restaurant-page__basket-item-body-details-count-price">
                <div class="restaurant-page__basket-item-body-details-count">
                  <mat-icon (click)="decrementItemCount(item)"
                            class="restaurant-page__basket-item-body-details-icon">
                    remove</mat-icon>
                  <span>&nbsp;&nbsp;{{item.count}}&nbsp;&nbsp;</span>
                  <mat-icon (click)="incrementItemCount(item)"
                            class="restaurant-page__basket-item-body-details-icon-add">
                    add
                  </mat-icon>
                </div>
                <span class="restaurant-page__basket-item-body-details-price">{{item.unitPrice * item.count}} Dhs</span>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="restaurant-page__basket-item">-->
          <!--<div class="restaurant-page__basket-item-remove">-->
            <!--<button mat-icon-button class="restaurant-page__basket-item-remove-button">-->
              <!--<mat-icon class="restaurant-page__basket-item-remove-button-icon">close</mat-icon>-->
            <!--</button>-->
          <!--</div>-->
          <!--<div class="restaurant-page__basket-item-body">-->
            <!--<img class="restaurant-page__basket-item-body-image"-->
                 <!--src="../../../assets/images/p1.png">-->
            <!--<div class="restaurant-page__basket-item-body-details">-->
              <!--<span class="restaurant-page__basket-item-body-details-name">SALADE DE CHOUX</span>-->
              <!--<div class="restaurant-page__basket-item-body-details-count-price">-->
                <!--<div class="restaurant-page__basket-item-body-details-count">-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon">remove</mat-icon>-->
                  <!--<span>&nbsp;&nbsp;2&nbsp;&nbsp;</span>-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon-add">add</mat-icon>-->
                <!--</div>-->
                <!--<span class="restaurant-page__basket-item-body-details-price">50.00 Dhs</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->



        <!--<div class="restaurant-page__basket-item">-->
          <!--<div class="restaurant-page__basket-item-remove">-->
            <!--<button mat-icon-button class="restaurant-page__basket-item-remove-button">-->
              <!--<mat-icon class="restaurant-page__basket-item-remove-button-icon">close</mat-icon>-->
            <!--</button>-->
          <!--</div>-->
          <!--<div class="restaurant-page__basket-item-body">-->
            <!--<img class="restaurant-page__basket-item-body-image"-->
                 <!--src="../../../assets/images/p3.png">-->
            <!--<div class="restaurant-page__basket-item-body-details">-->
              <!--<span class="restaurant-page__basket-item-body-details-name">GAMBAS TEMPURA</span>-->
              <!--<div class="restaurant-page__basket-item-body-details-count-price">-->
                <!--<div class="restaurant-page__basket-item-body-details-count">-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon">remove</mat-icon>-->
                  <!--<span>&nbsp;&nbsp;2&nbsp;&nbsp;</span>-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon-add">add</mat-icon>-->
                <!--</div>-->
                <!--<span class="restaurant-page__basket-item-body-details-price">50.00 Dhs</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="restaurant-page__basket-item">-->
          <!--<div class="restaurant-page__basket-item-remove">-->
            <!--<button mat-icon-button class="restaurant-page__basket-item-remove-button">-->
              <!--<mat-icon class="restaurant-page__basket-item-remove-button-icon">close</mat-icon>-->
            <!--</button>-->
          <!--</div>-->
          <!--<div class="restaurant-page__basket-item-body">-->
            <!--<img class="restaurant-page__basket-item-body-image"-->
                 <!--src="../../../assets/images/salade.jpg">-->
            <!--<div class="restaurant-page__basket-item-body-details">-->
              <!--<span class="restaurant-page__basket-item-body-details-name">SALADE A COMPOSER</span>-->
              <!--<div class="restaurant-page__basket-item-body-details-count-price">-->
                <!--<div class="restaurant-page__basket-item-body-details-count">-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon">remove</mat-icon>-->
                  <!--<span>&nbsp;&nbsp;1&nbsp;&nbsp;</span>-->
                  <!--<mat-icon class="restaurant-page__basket-item-body-details-icon-add">add</mat-icon>-->
                <!--</div>-->
                <!--<span class="restaurant-page__basket-item-body-details-price">65.00 Dhs</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      </div>


      <div class="restaurant-page__basket-bill">

        <div class="restaurant-page__basket-bill-details-price">
          <div class="restaurant-page__basket-bill-details-price-line-with-margin">
            <div>Sous-total</div>
            <div>{{basketService.total()}} Dhs</div>
          </div>
          <div class="restaurant-page__basket-bill-details-price-line-with-margin">
            <div>Livraison</div>
            <div>0 Dhs</div>
          </div>
          <hr class="restaurant-page__basket-bill-details-price-line-separator">
          <div class="restaurant-page__basket-bill-details-price-line">
            <div>Total</div>
            <div>{{basketService.total()}} Dhs</div>
          </div>
        </div>

        <mat-button-toggle-group class="restaurant-page__basket-bill-toggle">
          <mat-button-toggle class="restaurant-page__basket-bill-toggle-button">Livrer</mat-button-toggle>
          <mat-button-toggle class="restaurant-page__basket-bill-toggle-button">Emporter</mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-raised-button
                color="primary"
                (click)="validateBasket()"
                class="restaurant-page__basket-bill-button">
          Je commande
        </button>
      </div>
    </div>
  </div>
</div>
