@import "~src/sass/variables";

.basket-page__ {

  &padding-maker {
    padding: 20px 0 20px 0;
    //width: 600px;
    width: 450px;
    min-height: 50%;
    height: fit-content;
    //overflow-x: hidden;
  }

  &container {
    //min-height: 50%;
    //height: fit-content;
    //width: 100%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    //margin: 10px 0 10px 0;
  }

  &header {
    min-height: 90px;
    font-size: 25px;
    font-weight: bold;
    background-color: $blue-lalivraison;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0.5px;
    border-radius: 10px 10px 0 0;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      //background-color: lightgrey;
    }
  }

  &content {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: lightpink;
    padding: 20px 0 30px 0;
    //min-height: 85%;

    //&-bill {
    //  width: 100%;
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;

      &-details-price {
        width: 83%;
        min-height: 110px;
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

        &-line {
          display: flex;
          justify-content: space-between;
          width: 90%;

          &-separator {
            width: 90% !important;
            //border: none;
            color: lightgray;
          }

          //&-with-margin {
          //  @extend .basket-page__content-bill-details-price-line;
          //  //margin-top: 10px;
          //}
        }

      }

      &-toggle {
        //border-radius: 15px;
        border-radius: 50px;
        height: 50px;
        width: 83%;
        //display: flex;
        //align-items: center;
        //justify-content: center;
        margin-top: 10px;

        &-button {
          width: 50%;
          font-weight: 500;

          &-left {
            @extend .basket-page__content-toggle-button;
            border-radius: 50px 0 0 50px;
          }

          &-right {
            @extend .basket-page__content-toggle-button;
            border-radius: 0 50px 50px 0;
          }
        }
      }

      &-button {
        height: 50px;
        width: 83%;
        //border-radius: 15px;
        border-radius: 50px;
        margin-top: 10px;
        //margin-bottom: 10px;
        color: white;
      }
    //}

    &-items {
      //display: grid;
      //grid-template-columns: repeat(3, 1fr);
      //grid-row-gap: 10px;
      //grid-column-gap: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      //background-color: lightblue;
      width: 92%;
      //padding-left: 10px;
      //margin-left: -8px;
      //margin-right: -8px;
    }

    &-item {
      height: 200px;
      width: 170px;
      //flex-basis: 33%;
      border-radius: 10px;
      //margin-right: 10px;
      //margin-left: 8px;
      margin-bottom: 10px;
      //background-color: lightgoldenrodyellow;
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 480px) {
  .basket-page__ {

    &padding-maker {
      //width: 360px;
      width: 96%;
      //background-color: lightgreen;
    }

    &content {

      &-details-price {
        width: 95%;

        &-line {
          width: 90%;
          //background-color: lightpink;

          &-separator {
            width: 95%;
          }
        }
      }

      &-items {
        width: 98%;
        //grid-column-gap: 5px;
        //grid-template-columns: repeat(2, 1fr);
        //background-color: lightpink;
      }

      &-item {
        padding-left: 3px;
        padding-right: 3px;
      }

      &-toggle {
        height: 50px;
        width: 95%;
        border-radius: 50px;
        font-size: 15px;
      }

      &-button {
        height: 50px;
        width: 95%;
        border-radius: 50px;
        font-size: 15px;
      }
    }
  }

}

::ng-deep .mat-button-toggle-checked {
  color: white !important;
  line-height: 30px;
}

.mat-button-toggle-checked {
  background-color: $blue-lalivraison;
  border: 2px solid $blue-lalivraison;
  //height: 50px;
}
//
//::ng-deep .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
//  height: 50px;
//}
//
//
//::ng-deep .mat-button-toggle-group {
//  -webkit-tap-highlight-color: lightgrey;
//}

::ng-deep .mat-button-toggle-focus-overlay {
  position: static !important;
}
