<div class="basket-page__padding-maker">
<div class="basket-page__container">
  <div class="basket-page__header">
    <div class="basket-page__header-container">
      <button mat-button
              (click)="back()"
              style="height: 50px; width: 20px; margin-left: -20px; border-radius: 8px">
        <mat-icon style="color: white; font-weight: bold; margin-top: -4px; margin-left: 8px;">arrow_back_ios</mat-icon>
      </button>

      <div style="display: flex; align-items: center; flex-direction: column; font-family: Lato;">
        <div>Votre Panier</div>
        <div *ngIf="basketService.count() && !basketService.getLocation().isEmpty()" style="margin-top: 10px; font-size: 15px; font-weight: normal; display: flex; align-items: center">
          <!--<img style="height: 20px; width: 20px; margin-top: -2px;"-->
               <!--src="../../../assets/images/map.png">&nbsp;&nbsp;-->
          <mat-icon style="font-weight: normal; font-size: 20px; margin-right: 2px">location_on</mat-icon>
          <span>{{basketService.getLocation().district}}, {{basketService.getLocation().city}}</span>
        </div>
        <div *ngIf="basketService.count() && !basketService.getLocation().isEmpty()"
             style="color: black; font-weight: normal;
          text-decoration: underline;
          cursor: pointer;
          font-size: 12px;
          margin-top: -5px;">Changer</div>
      </div>

      <div style="height: 55px; width: 45px; margin-top: -35px; background-color: white; border-radius: 0 0 10px 10px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); color: #21CCBB; text-align: center; display: flex; align-items: center; justify-content: center; font-size: 18px">
        <span style="margin-top: 15px">{{basketService.count()}}</span>
      </div>
    </div>
  </div>
  <div class="basket-page__content">

    <div class="basket-page__content-items">
      <app-basket-page-item *ngFor="let item of basketService.items"
                            class="basket-page__content-item"
                            [item]="item">
      </app-basket-page-item>
    </div>

    <div class="basket-page__content-details-price" *ngIf="basketService.count()">
      <div class="basket-page__content-details-price-line">
        <div>Sous-total</div>
        <div class="basket-page__content-details-price-line-value">{{basketService.total()}} Dhs</div>
      </div>
      <div class="basket-page__content-details-price-line">
        <div>Livraison</div>
        <div class="basket-page__content-details-price-line-value">0 Dhs</div>
      </div>
      <hr class="basket-page__content-details-price-line-separator">
      <div class="basket-page__content-details-price-line">
        <div>Total</div>
        <div class="basket-page__content-details-price-line-value">{{basketService.total()}} Dhs</div>
      </div>
    </div>

    <mat-button-toggle-group class="basket-page__content-toggle"
                             #group="matButtonToggleGroup"
                             [value]="basketService.getService().toString()"
                             (change)="onServiceChange(group.value)"
                             *ngIf="basketService.count()">
      <mat-button-toggle (click)="setService('Delivery')"
                         value="Delivery"
                         class="basket-page__content-toggle-button-left">Livrer</mat-button-toggle>
      <mat-button-toggle (click)="setService('Takeaway')"
                         value="Takeaway"
                         class="basket-page__content-toggle-button-right">Emporter</mat-button-toggle>
    </mat-button-toggle-group>

    <img src="../../../assets/images/panier_vide.png"
         class="basket-page__content-image"
         *ngIf="!basketService.count()">
    <div *ngIf="!basketService.count()" class="basket-page__content-image-text">
      Votre panier est vide
    </div>

    <button mat-raised-button
            (click)="validate()"
            [disabled]="disableButton()"
            color="primary"
            class="basket-page__content-button">
      Je commande
    </button>

  </div>
</div>
<app-about-zone class="basket-page__about-zone"></app-about-zone>
</div>
