<div class="partner-page__container">
  <div class="partner-page__container-frame">

    <div class="partner-page__title">
      <span>Devenir partenaire</span>
      <img class="partner-page__title-image"
           src="../../../assets/images/order_icon_1.png">
    </div>

    <div class="partner-page__zones">
      <div class="partner-page__zones-left">

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre nom
          </mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre prénom
          </mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre téléphone
          </mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre email
          </mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre ville</mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>

        <mat-form-field class="partner-page__text-field">
          <mat-label class="partner-page__text-field-margin"> Saisissez votre type d'activité</mat-label>
          <input class="partner-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>room_service</mat-icon>
        </mat-form-field>

      </div>
      <div class="partner-page__zones-right">

        <img style="width: 90%" src="../../../assets/images/store_illustration_1.png">

      </div>
    </div>
    <button class="partner-page__button"
            mat-raised-button
            (click)="validate()"
            color="primary">
      Rejoindre
    </button>
  </div>

</div>
