@import "~src/sass/variables";

:host {
  height: 90%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
}

.partner-page__ {

  &container {
    width: 800px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

    ::ng-deep .cdk-overlay-pane {
      margin-left: 20px !important;
    }

    ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
      padding-top: 2px !important;
    }

    ::ng-deep .mat-select-arrow {
      color: transparent !important;
    }

    ::ng-deep .mat-form-field-infix {
      border-top: 11px solid transparent !important;
      padding: 7px 0;
    }

    ::ng-deep .mat-form-field-appearance-standard.mat-form-field-has-label .mat-select:not(.mat-select-empty) .mat-select-arrow-wrapper {
      border-top: 10px solid transparent;
    }

    &-frame {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      -webkit-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.3);
      box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.3);
      background-repeat: repeat-y;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mat-form-field {
      line-height: 14px !important;
    }

    ::ng-deep .mat-form-field-label-wrapper {
      top: -16px !important;
    }
  }

  &title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    border-radius: 10px 10px 0 0;
    background-color: $blue-lalivraison;
    color: white;

    &-image {
      height: 40px;
      width: 40px;
      margin-left: 15px;
    }
  }

  &frame-info {
    width: 85%;
    border: 2px solid $blue-lalivraison;
    height: 85px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;

    &:first-child {
      margin-top: 20px;
    }

    &-mobile {
      display: none;
    }

    &-left {
      @extend .partner-page__frame-info;
      margin-left: 20px;

      &-last {
        @extend .partner-page__frame-info-left;
        margin-bottom: 40px;
      }

    }

    &-right {
      @extend .partner-page__frame-info;
      margin-right: 20px;
    }

    &-image-zone {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: lightskyblue;

      &-image {
        height: 60px;
        width: 60px;
      }
    }

    &-text-zone {
      display: flex;
      flex-direction: column;
      //background-color: lightgreen;
      justify-content: center;
      width: 75%;
      padding: 0 5px 0 5px;

      &-title {
        font-size: 16px;
        //color: #21CCBB;
        font-weight: bold;
        color: $black-lalivraison;
      }

      &-description {
        margin-top: 5px;
        font-size: 12px;
        line-height: 15px;
        color: $blue-lalivraison;
      }
    }
  }

  &zones {

    display: flex;
    width: 100%;

    &-left {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: lightskyblue;
    }

    &-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
    }
  }

  &text-field {
    width: 70%;
    background-color: $gray-lalivraison;
    border-radius: 50px;
    padding: 0 15px 0 15px;
    height: 40px;
    font-size: 14px;
    margin-bottom: 20px;

    //&:first-child {
    //  margin-top: 20px;
    //}

    &-margin {
      margin-left: 10px;
      margin-top: -5px;
    }
  }

  &select-zone {
    width: 70%;
    padding: 0 15px 0 15px;
    height: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    background-color: $gray-lalivraison;
    border-radius: 50px;

    &-select-value {
      margin-left: 10px;
      padding-bottom: 25px;
    }

    &-text {
      margin-left: 10px;
    }

    ::ng-deep .mat-form-field-infix {
      border-top: 7px solid transparent !important;
      padding: 8px 0 !important;
    }
  }

  &button {
    border-radius: 50px;
    width: 35%;
    padding: 0 15px 0 15px;
    color: white;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {

  .partner-page__ {

    &container {

      width: 96%;

      ::ng-deep .mat-form-field-label-wrapper {
        top: -10px !important;
      }

      ::ng-deep .mat-button-toggle-button {
        margin-top: 0px;
      }
    }

    &title {
      //background-color: $blue-lalivraison;
      min-height: 90px;
      //margin-bottom: 20px;
      color: white;
    }

    &zones {

      &-left {
        width: 100%;
      }

      &-right {
        display: none;
      }
    }

    &frame-info {

      width: 93%;
      height: 85px;

      &-mobile {
        width: 93%;
        height: 85px;
        border: 2px solid $blue-lalivraison;
        margin-bottom: 10px;
        border-radius: 10px;
        display: flex;
        //display: block;
      }

      &-right {
        @extend .partner-page__frame-info;
        margin-left: 0;
      }

      &-left {
        margin-left: 0;

        &-last {
          margin-bottom: 10px;
        }
      }

      &-text-zone {
        &-description {
          margin-top: 2px;
        }
      }

      &-image-zone {
        width: 20%;

      }

      &-text-zone {
        width: 80%;
      }
    }

    &text-field {
      width: 80%;
      height: 50px;
      margin-bottom: 10px;

      ::ng-deep .mat-form-field-infix {
        border-top: 10px solid transparent !important;
        padding: 12px 0;
      }

      &-margin {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }

    &select-zone {
      width: 80%;
      height: 50px;
      margin-bottom: 10px;

      ::ng-deep .mat-form-field-infix {
        border-top: 7px solid transparent !important;
        padding: 14px 0 !important;
      }
    }

    &button {
      height: 50px;
      width: 87%;
    }
  }
}

