<div class="location-chooser__container">

  <button class="location-chooser__button"
          mat-raised-button
          color="primary"
          style="display: flex; align-items: center; justify-content: center">
    <mat-icon style="margin-right: 10px" matSuffix>my_location</mat-icon>
    Me localiser
  </button>

  <mat-form-field class="location-chooser__input-field">
    <mat-icon matSuffix>location_city</mat-icon>
    <mat-label> Sélectionnez votre ville</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field class="location-chooser__input-field">
    <mat-icon matSuffix>home</mat-icon>
    <mat-label> Sélectionnez votre quartier</mat-label>
    <input class="location-chooser__input-field-text" type="text" matInput>
  </mat-form-field>
</div>

