@import "~src/sass/variables";

.newsletter-zone__ {

  &container {
    height: 150px;
    background-color: $blue-lalivraison;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black-lalivraison;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);

    ::ng-deep .mat-raised-button.mat-button-disabled:not([class*=mat-elevation-z]) {
      background-color: #E0E0E0 !important;
    }
  }

  &text {
    font-size: 20px;
    font-weight: bolder;
    //letter-spacing: 2px;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }

  &text-field {
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    padding: 0 15px 0 15px;

    ::ng-deep .mat-form-field-infix {
      border-top: 6px solid transparent !important;
      padding: 6px 0;
    }
  }

  &form-zone {
    display: flex;
    justify-content: space-evenly;
    width: 500px;

    &-button {
      background-color: $black-lalivraison;
      color: white;
      border-radius: 50px;
      width: 150px
    }
  }

}

@media (max-width: 768px) {

  .newsletter-zone__ {

    &form-zone {
      width: 450px;
    }
  }
}
