<div class="google-apple-zone__container">
  <div class="google-apple-zone__text">Inscrivez-vous à notre newsletter</div>
  <div class="google-apple-zone__form-zone">
    <mat-form-field style="width: 250px; height: 40px; border-radius: 50px; background-color: white;
    padding: 0 15px 0 15px; font-size: 12px">
      <mat-label>Votre email</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <button class="google-apple-zone__form-zone-button"
            mat-raised-button
            color="primary">
      S'inscrire
    </button>
  </div>
</div>
