@import "~src/sass/variables";

.google-apple-zone__ {

  &container {
    height: 100%;
    background-color: $blue-lalivraison;
    border: 2px solid $black-lalivraison;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black-lalivraison;
  }

  &text {
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
  }

  &form-zone {
    display: flex;
    justify-content: space-evenly;
    width: 500px;

    &-button {
      background-color: $black-lalivraison;
      color: white;
      border-radius: 50px;
      width: 150px
    }
  }

}

@media (max-width: 768px) {

  .google-apple-zone__ {

    &form-zone {
      width: 450px;
    }
  }
}
