@import "~src/sass/variables";

.carousel__ {
  &container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Gilory;
    font-weight: 800;
  }

  &title {
    color: $black-lalivraison;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20%;
    margin-bottom: 15px;

    &-image {
      height: 40px;
      width: 40px;
    }
  }

  &items {
    display: flex;
    width: 90%;
    overflow: hidden;
    align-items: center;

    &-container {
      display: flex;
      height: 80%;
    }

    &-container-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5%;
      min-width: 43px;

      &-left {
        @extend .carousel__items-container-button;
        //margin-right: 5px;
      }

      &-right {
        @extend .carousel__items-container-button;
        margin-left: 5px;
      }
    }
  }

  &item {
    margin-right: 7px;
    margin-left: 7px;
    height: 140px;

    &:last-child {
      padding-right: 5px;
    }
  }
}

@media (max-width: 480px) {
  .carousel__ {
    &container {
      padding: 0 !important;
      min-height: 170px !important;
      //min-height: 100% !important;
      //background-color: lightgoldenrodyellow;
    }

    &items-container-button {
      display: none;
    }

    &items {
      width: 100% !important;
      overflow-x: scroll;
      padding-top: 0px;
      //background-color: lightpink;
      //height: 100% !important;
      min-height: 150px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &-container {
        //background-color: lightgreen;
        padding-top: 10px;
        //height: 80%;
        height: 100% !important;
        padding-bottom: 0;
      }
    }

    &title {
      margin-bottom: 0;
      height: 20%;
      letter-spacing: 0;
    }

    &item {
      margin-right: 4px;
      margin-left: 4px;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  .carousel__ {
    &items {
      overflow-x: scroll;
    }
  }
}

@media (max-width: 768px) {
  .carousel__ {
    &items {
      width: 88%;
      overflow-x: scroll;
    }
  }
}

:host {
  ::ng-deep .mat-flat-button.mat-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    color: $black-lalivraison;
    background-color: gainsboro;
  }
}
