<div class="carousel__container">
  <div class="carousel__title">
    Catégories&nbsp;&nbsp;
    <img src="../../../assets/images/categories/categories.png" class="carousel__title-image">
  </div>
  <div class="carousel__items-container">

    <div class="carousel__items-container-button-left">
      <button style="z-index: 99" mat-icon-button (click)="scrollLeft(carouselItems)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>

    <div class="carousel__items" #carouselItems>

      <app-carousel-item class="carousel__item"
                         text="Tout"
                         imageSource="../../../assets/images/categories/food_1.png">
      </app-carousel-item>
      <app-carousel-item class="carousel__item" text="Plats" imageSource="../../../assets/images/categories/food_2.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Asiatique" imageSource="../../../assets/images/categories/food_3.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Pizza" imageSource="../../../assets/images/categories/food_4.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Pâtes" imageSource="../../../assets/images/categories/food_5.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Salades" imageSource="../../../assets/images/categories/food_6.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Brunch" imageSource="../../../assets/images/categories/food_7.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Américain" imageSource="../../../assets/images/categories/food_8.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Thaïe" imageSource="../../../assets/images/categories/food_9.png"></app-carousel-item>
      <app-carousel-item class="carousel__item" text="Burger" imageSource="../../../assets/images/categories/food_10.png"></app-carousel-item>
      <app-carousel-item class="carousel__item"
                         style="padding-right: 5px;"
                         text="Boissons" imageSource="../../../assets/images/categories/food_11.png">

      </app-carousel-item>
    </div>

    <div class="carousel__items-container-button-right">
      <button style="z-index: 99" mat-icon-button (click)="scrollRight(carouselItems)">
        <mat-icon class="carousel__items-swiper">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
