@import "~src/sass/variables";

.carousel__ {

  &container {
    height: 100%;
    padding: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
  }

  &title {
    color: $black-lalivraison;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20%;
    margin-bottom: 15px;

    &-image {
      height: 40px;
      width: 40px;
    }
  }

  &items {
    display: flex;
    width: 90%;
    overflow: hidden;

    &-container {
      display: flex;
      height: 80%;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-container-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5%;

      &-left {
        @extend .carousel__items-container-button;
        margin-right: 5px;
      }

      &-right {
        @extend .carousel__items-container-button;
        margin-left: 5px;
      }
    }
  }

  &item {
    margin-right: 7px;
    margin-left: 7px;
    height: 140px;
  }
}


@media (max-width: 480px) {
  .carousel__ {

    &container {
      height: 80%;
    }

    &items-container-button {
      display: none;
    }

    &items {
      width: 100%;
      overflow-x: scroll;
      padding-top: 0px;
      padding-bottom: 10px;
      height: 70%;

      &-container {
        padding-bottom: 0;
        padding-top: 15px;
      }
    }

    &title {
      margin-bottom: 0;
    }

    &item {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}

@media (max-width: 768px) {
  .carousel__ {
    &items {
      width: 88%;
    }
  }
}

:host {
  ::ng-deep .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent {
    color: $black-lalivraison;
    background-color: gainsboro;
  }
}
