@import "~src/sass/variables";

.selected-heading-item__ {
  &container {
    display: flex;
    flex-direction: column;
    height: 313px;
    width: 272px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(26, 77, 160, 0.12) 0px 30px 40px -10px;
    -moz-box-shadow: rgba(26, 77, 160, 0.12) 0px 30px 40px -10px;
    box-shadow: rgba(26, 77, 160, 0.12) 0px 30px 40px -10px;

    mat-icon {
      color: $blue-lalivraison;
      font-size: 40px;
      transform: translate(-50%, -50%);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &price {
    color: $blue-lalivraison;
  }

  &upper-zone {
    height: 60%;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  &lower-zone {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;

    &-name {
      font-size: 18px;
      font-weight: bold;
      width: 110%;
      max-height: 40px;
      overflow-y: hidden;
    }

    &-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
    }
  }
}

::ng-deep .mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  color: $blue-lalivraison !important;
}

::ng-deep .mat-dialog-container {
  border-radius: 15px !important;
  //padding: 5px 5px 40px 5px !important;
  padding: 0px !important;
  //height: 100% !important;
  //width: 100% !important;
  //background-color: lightgreen !important;
}
