@import "~src/sass/variables";

.selected-heading-item__ {

  &container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px gray solid;
    //background-color: lightskyblue;

    mat-icon {
      color: $blue-lalivraison;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &price {
    color: $blue-lalivraison;
  }

  &upper-zone {
    height: 60%;
  }

  &lower-zone {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px 10px 15px;
  }
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  color: $blue-lalivraison !important;
}
