<div class="selected-heading-item__container">

  <img [src]="headingItem.image" class="selected-heading-item__upper-zone" (click)="showItemDetails()">

  <div class="selected-heading-item__lower-zone">
    <div class="selected-heading-item__lower-zone-name">{{headingItem.name | uppercase}}</div>
    <div class="selected-heading-item__lower-zone-price">
      <span class="selected-heading-item__price">{{headingItem.price}}.00 Dhs</span>
      <mat-icon (click)="addToBasket()">add_circle</mat-icon>
    </div>
  </div>

</div>
