@import "~src/sass/variables";

.header__ {

  &container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }

  &first-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px 10px 5px;
    background-color: white;
    min-height: 50px;
    max-height: 50px;
  }

  &logo {
    display: flex;
    align-items: center;
    //justify-content: center;
    width: 15%;
    border-radius: 50px;
    background-color: $blue-lalivraison
  }

  &search-field {
    width: 60%;
    background-color: $gray-lalivraison;
    border-radius: 50px;
    padding: 0 15px 0 15px;
  }

  &button {
    border-radius: 50px;
    width: 10%;
    background-color: $gray-lalivraison;
    color: #3a3838;
  }

  &search-field-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__ {

    &button-text {
      display: none;
    }

    &search-field {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {

  .header__ {

    &search-field {
      display: none;
    }

    &logo {
      width: 60%;
    }

    &search-field-mobile {
      display: block;
      padding: 0 15px 0 15px;
      background-color: $gray-lalivraison;
      border-radius: 50px;
      margin: 10px 5px 10px 5px;
      font-size: 16px;
    }
  }
}

::ng-deep .cdk-overlay-pane {
  margin-top: 15px;
}

//menu panel
::ng-deep .mat-menu-panel {
  border-radius: 25px !important;
  background-color: $gray-lalivraison !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
