@import "~src/sass/variables";
.selected-heading-item-dialog__ {

  &close-zone {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &container {
    font-family: Lato;
    //height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    //background-color: lightblue;
  }

  &upper-zone {
    height: 200px;
    width: 270px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  &lower-zone {

    //background-color: lightgreen;
    &-name {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2.36px;
      margin-bottom: 10px;
    }

    &-description {
      font-size: 15px;
      margin-bottom: 10px;
      text-align: center;
    }

    &-price {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      color: $blue-lalivraison;
      margin-bottom: 5px;
    }

    &-button {
      //width: 180px;
      border-radius: 25px;
      color: white;
      font-size: 16px;
      width: 75%;
      height: 50px;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 60px;
      }
    }

    &-radio-selection {

      &:hover {
        border: 2px solid $blue-lalivraison !important;
        height: 39px !important;
        color: $blue-lalivraison;

        ::ng-deep .mat-radio-outer-circle {
          border-color: $blue-lalivraison !important;
        }
      }
    }
  }

}

@media (max-width: 480px) {
  .selected-heading-item-dialog__ {

    &close-zone {
      position: sticky;
      position: -webkit-sticky; /* Safari */
      top: 0;
    }

    &lower-zone-button {

      margin-left: -25px;

      &-container {
        position: fixed;
        left: 0;
        bottom: 0;
      }
    }
  }

}

::ng-deep .mat-radio-outer-circle {
  //border-width: 1px !important;
  //border-color: rgba(0, 0, 0, 0.54) !important;
}

::ng-deep .mat-radio-label-content {
  color: dimgray;
}
