@import "~src/sass/variables";
.selected-heading-item-dialog__ {

  &container {
    font-family: Lato;
    //height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &upper-zone {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  &lower-zone {

    &-name {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2.36px;
      margin-bottom: 10px;
    }

    &-description {
      font-size: 15px;
      margin-bottom: 10px;
      text-align: center;
    }

    &-price {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      color: $blue-lalivraison;
      margin-bottom: 10px;
    }

    &-button {
      width: 180px;
    }
  }

}
