<div class="delivrer-page__container">
  <div class="delivrer-page__container-frame">

    <div class="delivrer-page__title">
      <span>Rejoignez-nous</span>
      <img class="delivrer-page__title-image" src="../../../assets/images/delivery-man-illustration.png">
    </div>

    <div class="delivrer-page__zones">
      <div class="delivrer-page__zones-left">

        <mat-form-field class="delivrer-page__text-field">
          <mat-label class="delivrer-page__text-field-margin"> Saisissez votre nom
          </mat-label>
          <input class="delivrer-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="delivrer-page__text-field">
          <mat-label class="delivrer-page__text-field-margin"> Saisissez votre prénom
          </mat-label>
          <input class="delivrer-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="delivrer-page__text-field">
          <mat-label class="delivrer-page__text-field-margin"> Saisissez votre téléphone
          </mat-label>
          <input class="delivrer-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field class="delivrer-page__text-field">
          <mat-label class="delivrer-page__text-field-margin"> Saisissez votre email
          </mat-label>
          <input class="delivrer-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <mat-form-field class="delivrer-page__text-field">
          <mat-label class="delivrer-page__text-field-margin"> Saisissez votre ville</mat-label>
          <input class="delivrer-page__text-field-margin" type="text" matInput>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>

        <!--<img style="height: 250px; width: 75%; border-radius: 7px" src="../../../assets/images/delivery_man.png">-->

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="margin-left: 20px">Avez-vous un scooter :</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <!--<div class="delivrer-page__info-zone-radio-zone" style="margin-bottom: 0">-->
          <!--<div style="margin-left: 20px">Êtes-vous un étudiant :</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div style="margin-left: 25px; margin-top: -2px">Avez-vous un scooter </div>-->
            <!--<mat-icon style="margin-right: 12px">delivery_dining</mat-icon>-->
          <!--</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <mat-form-field class="delivrer-page__select-zone" appearance="standard">
          <mat-icon matSuffix style="">delivery_dining</mat-icon>
          <mat-label class="delivrer-page__select-zone-text">Avez-vous un scooter</mat-label>
          <mat-select class="delivrer-page__select-zone-select-value">
            <mat-option [value]="true">Oui</mat-option>
            <mat-option [value]="false">Non</mat-option>
          </mat-select>
        </mat-form-field>

        <!--<div style="height: 40px; width: 100%; margin-bottom: 20px"></div>-->

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div style="margin-left: 25px; margin-top: -2px">Avez-vous un permis de conduire </div>-->
            <!--<mat-icon style="margin-right: 12px">assignment_ind</mat-icon>-->
          <!--</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <mat-form-field class="delivrer-page__select-zone" appearance="standard">
          <mat-icon matSuffix>assignment_ind</mat-icon>
          <mat-label class="delivrer-page__select-zone-text">Avez-vous un permis de conduire</mat-label>
          <mat-select class="delivrer-page__select-zone-select-value">
            <mat-option [value]="true">Oui</mat-option>
            <mat-option [value]="false">Non</mat-option>
          </mat-select>
        </mat-form-field>

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div style="margin-left: 25px; margin-top: -2px">Êtes-vous un étudiant </div>-->
            <!--<mat-icon style="margin-right: 12px">school</mat-icon>-->
          <!--</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <mat-form-field class="delivrer-page__select-zone" appearance="standard">
          <mat-icon matSuffix style="">school</mat-icon>
          <mat-label class="delivrer-page__select-zone-text">Êtes-vous un étudiant</mat-label>
          <mat-select class="delivrer-page__select-zone-select-value">
            <mat-option [value]="true">Oui</mat-option>
            <mat-option [value]="false">Non</mat-option>
          </mat-select>
        </mat-form-field>

        <!--<div class="delivrer-page__info-zone-radio-zone" style="margin-bottom: 0">-->
          <!--<div style="display: flex; justify-content: space-between">-->
            <!--<div style="margin-left: 25px; margin-top: -2px">Avez-vous un smartphone </div>-->
            <!--<mat-icon style="margin-right: 12px">smartphone</mat-icon>-->
          <!--</div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">IPhone</mat-radio-button>-->
            <!--<mat-radio-button value="2">Android</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <mat-form-field class="delivrer-page__select-zone" appearance="standard">
          <mat-icon matSuffix style="">smartphone</mat-icon>
          <mat-label class="delivrer-page__select-zone-text">Avez- vous un smartphone</mat-label>
          <mat-select class="delivrer-page__select-zone-select-value">
            <mat-option [value]="true">IPhone</mat-option>
            <mat-option [value]="false">Android</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="delivrer-page__zones-right">


        <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
          <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre prénom-->
          <!--</mat-label>-->
          <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
          <!--<mat-icon matSuffix>person</mat-icon>-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
          <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre email-->
          <!--</mat-label>-->
          <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
          <!--<mat-icon matSuffix>alternate_email</mat-icon>-->
        <!--</mat-form-field>-->
        <!--<img style="height: 250px; width: 75%; margin-bottom: 20px; margin-top: 15px; border-radius: 7px" src="../../../assets/images/illustration.png">-->

        <img style="width: 90%" src="../../../assets/images/store_illustration.png">

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="">Avez-vous un scooter </div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div style="height: 40px; width: 100%; margin-bottom: 20px"></div>&ndash;&gt;-->

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="">Avez-vous un permis de conduire </div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <!--<div class="delivrer-page__info-zone-radio-zone">-->
          <!--<div style="">Êtes-vous un étudiant </div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
            <!--<mat-radio-button value="2">Non</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->

        <!--<div class="delivrer-page__info-zone-radio-zone" style="margin-bottom: 0">-->
          <!--<div style="">Avez-vous un smartphone </div>-->
          <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
            <!--<mat-radio-button value="1" style="margin-right: 10px">IPhone</mat-radio-button>-->
            <!--<mat-radio-button value="2">Android</mat-radio-button>-->
          <!--</mat-radio-group>-->
        <!--</div>-->
      </div>
    </div>
    <button class="delivrer-page__info-zone-button"
            mat-raised-button
            (click)="validate()"
            color="primary">
      Rejoindre
    </button>
  </div>

  <!--<div class="delivrer-page__info-zone">-->

    <!--<div class="delivrer-page__info-zone-title">-->
      <!--<span style="margin-left: 8px">Informations de commande</span>-->
      <!--<img class="delivrer-page__info-zone-title-image" src="../../../assets/images/order_icon_1.png">-->
    <!--</div>-->

    <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
      <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre nom</mat-label>-->
      <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
      <!--<mat-icon matSuffix>person</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
      <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre prénom</mat-label>-->
      <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
      <!--<mat-icon matSuffix>person</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
      <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre téléphone</mat-label>-->
      <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
      <!--<mat-icon matSuffix>phone</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
      <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Saisissez votre email</mat-label>-->
      <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
      <!--<mat-icon matSuffix>alternate_email</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="delivrer-page__info-zone-text-field">-->
      <!--<mat-label class="delivrer-page__info-zone-text-field-margin"> Casablanca</mat-label>-->
      <!--<input class="delivrer-page__info-zone-text-field-margin" type="text" matInput>-->
      <!--<mat-icon matSuffix>location_city</mat-icon>-->
    <!--</mat-form-field>-->

    <!--<div class="delivrer-page__info-zone-radio-zone">-->
      <!--<div>Avez-vous un scooter :</div>-->
      <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group" color="primary">-->
        <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
        <!--<mat-radio-button value="2">Non</mat-radio-button>-->
      <!--</mat-radio-group>-->
    <!--</div>-->

    <!--<div class="delivrer-page__info-zone-radio-zone">-->
      <!--Avez-vous un permis de conduire :-->
      <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group">-->
        <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
        <!--<mat-radio-button value="2">Non</mat-radio-button>-->
      <!--</mat-radio-group>-->
    <!--</div>-->

    <!--<div class="delivrer-page__info-zone-radio-zone">-->
      <!--Êtes-vous un étudiant :-->
      <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group">-->
        <!--<mat-radio-button value="1" style="margin-right: 10px">Oui</mat-radio-button>-->
        <!--<mat-radio-button value="2">Non</mat-radio-button>-->
      <!--</mat-radio-group>-->
    <!--</div>-->

    <!--<div class="delivrer-page__info-zone-radio-zone">-->
      <!--Avez-vous un smartphone :-->
      <!--<mat-radio-group class="delivrer-page__info-zone-radio-zone-group">-->
        <!--<mat-radio-button value="1" style="margin-right: 10px">IPhone</mat-radio-button>-->
        <!--<mat-radio-button value="2">Android</mat-radio-button>-->
      <!--</mat-radio-group>-->
    <!--</div>-->

    <!--<button class="delivrer-page__info-zone-button"-->
            <!--mat-raised-button-->
            <!--(click)="validate()"-->
            <!--color="primary">-->
      <!--Commander-->
    <!--</button>-->

  <!--</div>-->
</div>
