<div class="selected-heading__container">
  <div class="selected-heading__title">
    {{name}}
  </div>
  <div class="selected-heading__body">
    <app-selected-heading-item name="Salade de choux"
                               price="25"
                               image="../../../assets/images/p1.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="Wakame saumon"
                               price="60"
                               image="../../../assets/images/p2.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="gambas tempura"
                               price="65"
                               image="../../../assets/images/p3.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="Salade de choux"
                               price="25"
                               image="../../../assets/images/p1.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="Wakame saumon"
                               price="60"
                               image="../../../assets/images/p2.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="gambas tempura"
                               price="65"
                               image="../../../assets/images/p3.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="Salade de choux"
                               price="25"
                               image="../../../assets/images/p1.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="Wakame saumon"
                               price="60"
                               image="../../../assets/images/p2.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
    <app-selected-heading-item name="gambas tempura"
                               price="65"
                               image="../../../assets/images/p3.png"
                               style="margin-right: 10px; height: 250px; width: 200px;">
    </app-selected-heading-item>
  </div>

</div>
