.selected-heading__ {

  &container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //justify-content: center;
    //align-items: center;
    //background-color: lightgreen;
  }

  &title {
    height: 10%;
    //background-color: lightsalmon;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  &body {
    //min-height: 90%;
    //display: flex;
    //align-items: flex-start;
    //overflow-x: scroll;
    //overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;


    //background-color: lightblue;
    //padding: 0 4px 0 5px;
    padding-bottom: 100px;
    //margin: 0 5px 0 10px;
  }
}

@media (max-width: 1336px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 999px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

