.selected-heading__ {

  &container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //justify-content: center;
    align-items: center;
    //background-color: lightgreen;
  }

  &title {
    height: 10%;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-left: 15px;
    width: 100%;
  }

  &body {
    //min-height: 90%;
    //display: flex;
    //align-items: flex-start;
    //overflow-x: scroll;
    //overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;


    //background-color: lightblue;
    //padding: 0 4px 0 5px;
    //padding-bottom: 100px;
    //margin: 0 5px 0 10px;

    &-item {
      height: 200px;
      width: 170px;
      padding-bottom: 10px;
      //padding-right: 5px;
      //padding-left: 5px;
    }
  }
}

@media (max-width: 1336px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
    }
  }
}

@media (max-width: 999px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .selected-heading__ {

    &body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 480px) {

  .selected-heading__ {

    &container {
      //background-color: lightgreen;
    }

    &body {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      &-item {
        padding-left: 3px;
        padding-right: 3px;
      }
    }

    &title {
      text-align: center;
    }
  }

}

