<div class="home-page__container">
  <app-swiper class="home-page__swiper"></app-swiper>
  <app-location-chooser class="home-page__location-chooser"></app-location-chooser>
  <app-carousel-categories class="home-page__carousel-categories"></app-carousel-categories>
  <app-restaurants class="home-page__restaurants"></app-restaurants>
  <app-join-us class="home-page__join-us"></app-join-us>
  <app-newsletter class="home-page__newsletter-zone"></app-newsletter>
  <!--<app-about-zone class="home-page__about-zone"></app-about-zone>-->
</div>
