:host {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  //background-color: lightpink;
}

.home-page__ {

  &container {
    width: 100%;
    height: fit-content;
    overflow-y: hidden !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    //padding-bottom: 20px;
  }

  &swiper {
    margin-top: 30px;
    height: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &location-chooser {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 55px;
  }

  &carousel-categories {
    margin-top: 30px;
    height: 220px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &restaurants {
    margin-top: 30px;
    //min-height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    //overflow: hidden;
    padding-bottom: 10px;
    min-height: 250px;
    //display: flex;
  }

  &join-us {
    margin-top: 30px;
    height: 570px;
    //height: 370px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &newsletter-zone {
    margin-top: 30px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    min-width: 500px;
    margin-bottom: 100px;
  }

  &about-zone {
    margin-top: 30px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &body {
    overflow-y: scroll;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {

  .home-page__ {

    &swiper {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    &location-chooser {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      min-height: 230px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    &join-us {
      //height: 0;
      //min-height: 215px;
      //height: 570px;
      width: 85%;
    }

    &restaurants {
      width: 90%;
    }

    &newsletter-zone {
      width: 83%;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {

  .home-page__ {

    &swiper {
      display: none;
    }

    &location-chooser {
      margin-top: 10px;
      width: 95%;
      min-height: 180px;
    }

    &carousel-categories {
      margin-top: 25px;
      width: 95%;
      min-height: 200px;
      overflow: hidden;
    }

    &restaurants {
      margin-top: 25px;
      width: 95%;
      //min-height: 320px;
      height: 295px !important;
      padding-bottom: 0;
      overflow: hidden;
      //background-color: lightpink;
    }

    &join-us {
      margin-top: 25px;
      width: 95%;
      height: 210px;
      padding-bottom: 70px;
      //background-color: lightgoldenrodyellow;
    }

    &newsletter-zone {
      display: none;
    }

    &about-zone {
      min-height: 350px;
    }
  }

}
