.home-page__ {

  &container {
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  &swiper {
    margin-top: 30px;
    height: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &location-chooser {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 55px;
  }

  &carousel-categories {
    margin-top: 30px;
    min-height: 220px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &restaurants {
    margin-top: 30px;
    //min-height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    //overflow: hidden;
    padding-bottom: 10px;
  }

  &join-us {
    margin-top: 30px;
    min-height: 570px;
    height: 370px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &newsletter-zone {
    margin-top: 30px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    min-width: 500px;
  }

  &about-zone {
    margin-top: 30px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  &body {
    overflow-y: scroll;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .home-page__ {

    &swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &location-chooser {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      min-height: 230px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &join-us {
      min-height: 280px;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {

  .home-page__ {

    &swiper {
      display: none;
    }

    &location-chooser {
      margin-top: 10px;
      width: 95%;
      min-height: 180px;
    }

    &carousel-categories {
      margin-top: 25px;
      width: 95%;
      min-height: 200px;
      overflow: hidden;
    }

    &restaurants {
      margin-top: 25px;
      width: 95%;
      //min-height: 320px;
      min-height: 295px;
      padding-bottom: 0;
      overflow: hidden;
      //background-color: lightpink;
    }

    &join-us {
      margin-top: 25px;
      width: 95%;
      min-height: 210px;
    }

    &newsletter-zone {
      display: none;
    }

    &about-zone {
      display: none;
    }
  }

}
