.home-page__ {

  &container {
    width: 100%;
    height: 100%;
    //background-color: lightpink;
    overflow-y: scroll !important;
    //padding: 15px 30px 0 30px;
    //padding-top: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  &swiper {
    margin-top: 30px;
    height: 350px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    //background-color: lightgreen;
  }

  &location-chooser {
    margin-top: 30px;
    //margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 55px;
    //background-color: lightsalmon;
  }

  &carousel-categories {
    margin-top: 30px;
    min-height: 205px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    //margin-bottom: 15px;
    //background-color: lightgrey;
  }

  &restaurants {
    margin-top: 30px;
    min-height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    //margin-bottom: 15px;
    padding-bottom: 10px;
    //background-color: lightsalmon;
  }

  &join-us {
    margin-top: 30px;
    min-height: 370px;
    //max-height: 450px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    //background-color: lightgoldenrodyellow;
  }

  &newsletter-zone {
    margin-top: 30px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    //padding: 15px;
    //background-color: lightgoldenrodyellow;
    width: 55%;
    min-width: 500px;
  }

  &about-zone {
    margin-top: 30px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  &body {
    overflow-y: scroll;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  //::ng-deep input.mat-input-element {
  //  font-size: 18px !important;
  //}

  .home-page__ {

    &swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &location-chooser {
      //margin-top: 20px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      //height: 200px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &newsletter-zone {
      //min-width: 500px !important;
      //background-color: lightgoldenrodyellow;
      //border: 2px solid red;
    }


    &join-us {
      min-height: 280px;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {

  .home-page__ {

    &swiper {
      display: none;
    }

    &location-chooser {
      margin-top: 10px;
      width: 95%;
      min-height: 180px;
      //margin: 50px auto 10px auto;
    }

    &carousel-categories {
      margin-top: 25px;
      width: 95%;
      min-height: 185px;
      //margin: 40px auto 0 auto;
    }

    &restaurants {
      margin-top: 25px;
      width: 95%;
      min-height: 220px;
      padding-bottom: 0;
    }

    &join-us {
      margin-top: 25px;
      width: 95%;
      min-height: 210px;
    }

    &newsletter-zone {
      display: none;
    }

    &about-zone {
      display: none;
    }
  }

}
