<div class="checkout-page__container">
  <div class="checkout-page__info-zone">

    <div class="checkout-page__info-zone-title"
         style="">
      Informations de commande
      <img class="checkout-page__info-zone-title-image" src="../../../assets/images/order_info1.png">
    </div>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Saisissez votre nom</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Saisissez votre prénom</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Saisissez votre téléphone</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Saisissez votre email</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput>
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Saisissez votre adresse</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput>
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Maarif</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput disabled>
      <mat-icon matSuffix>room</mat-icon>
    </mat-form-field>

    <mat-form-field class="checkout-page__info-zone-text-field">
      <mat-label class="checkout-page__info-zone-text-field-margin"> Casablanca</mat-label>
      <input class="checkout-page__info-zone-text-field-margin" type="text" matInput disabled>
      <mat-icon matSuffix>location_city</mat-icon>
    </mat-form-field>

    <mat-button-toggle-group class="checkout-page__info-zone-toggle">
      <mat-button-toggle class="checkout-page__info-zone-toggle-button">
        Payer en ligne&nbsp;&nbsp;&nbsp;<mat-icon>payment</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="checkout-page__info-zone-toggle-button">
        Payer en espèce&nbsp;&nbsp;&nbsp;<mat-icon>payments</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button class="checkout-page__info-zone-button"
            mat-raised-button
            (click)="validate()"
            color="primary">
      Commander
    </button>

  </div>
  <div class="checkout-page__order-zone">
    <div class="checkout-page__order-zone-frame">
      <div class="checkout-page__order-zone-header">
        <div class="checkout-page__order-zone-header-text">Votre commande</div>
        <div>
          <img class="checkout-page__order-zone-frame-item-image"
               style="margin-right: 5px"
               src="../../../assets/images/swiper-3.png">
          <img class="checkout-page__order-zone-frame-item-image"
               src="../../../assets/images/swiper-0.png">
        </div>
      </div>
      <div class="checkout-page__order-zone-frame-items">

        <div *ngFor="let item of basketService.items" class="checkout-page__order-zone-frame-item">
          <img class="checkout-page__order-zone-frame-item-image"
               [src]="item.image">
          <div class="checkout-page__order-zone-frame-item-details">
            <span class="checkout-page__order-zone-frame-item-details-name">{{item.name}}</span>
            <div class="checkout-page__order-zone-frame-item-details-text">
              <span>{{item.count}}&nbsp;&nbsp;</span>x
              <span class="checkout-page__order-zone-frame-item-details-text-price">
                &nbsp;&nbsp;{{item.unitPrice}} Dhs
              </span>
            </div>
          </div>
        </div>

        <!--<div class="checkout-page__order-zone-frame-item">-->
          <!--<img class="checkout-page__order-zone-frame-item-image"-->
               <!--src="../../../assets/images/p1.png">-->
          <!--<div class="checkout-page__order-zone-frame-item-details">-->
            <!--<span class="checkout-page__order-zone-frame-item-details-name">SALADE DE CHOUX</span>-->
            <!--<div class="checkout-page__order-zone-frame-item-details-text">-->
              <!--<span>2&nbsp;&nbsp;</span>x-->
              <!--<span class="checkout-page__order-zone-frame-item-details-text-price">&nbsp;&nbsp;50.00 Dhs</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="checkout-page__order-zone-frame-bill">
          <div class="checkout-page__order-zone-frame-bill-line">
            <div>Sous-total</div>
            <div class="checkout-page__order-zone-frame-bill-line-price">{{basketService.total()}} Dhs</div>
          </div>
          <div class="checkout-page__order-zone-frame-bill-line">
            <div>Livraison</div>
            <div class="checkout-page__order-zone-frame-bill-line-price">0 Dhs</div>
          </div>
          <hr class="checkout-page__order-zone-frame-bill-line-separator">
          <div class="checkout-page__order-zone-frame-bill-line">
            <div>Total</div>
            <div class="checkout-page__order-zone-frame-bill-line-price">{{basketService.total()}} Dhs</div>
          </div>
        </div>

        <button class="checkout-page__order-zone-button"
                (click)="validate()"
                mat-raised-button
                color="primary">
          Commander
        </button>


      </div>
    </div>
    <img  src="../../../assets/images/shape10.png" class="checkout-page__order-zone-footer" style="margin-top: -8px">
  </div>
</div>
