<div class="checkout-page__container">
  <div class="checkout-page__info-zone">

  </div>
  <div class="checkout-page__order-zone" style="justify-content: flex-start; box-shadow: none">
    <div class="checkout-page__order-zone" style="width: 100%">
      <div class="checkout-page__order-zone-header">
        <span class="checkout-page__order-zone-header-text">Votre commande</span>
      </div>
      <!--<div class="checkout-page__order-zone-footer">-->

      <!--</div>-->
      <!--<img  src="../../../assets/images/shape2.png" class="checkout-page__order-zone-footer">-->
    </div>
    <img  src="../../../assets/images/shape8.png" class="checkout-page__order-zone-footer" style="margin-top: -5px">
  </div>
</div>
