@import "~src/sass/variables";

.about-zone__ {

  &container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.3px;
    color: $black-lalivraison;
  }

  &block {

    display: flex;
    flex-direction: column;
    width: 33%;
    border-left: 1px solid $black-lalivraison;
    padding: 0px 5px 5px 15px;

    &-payment {
      @extend .about-zone__block;
      width: 34%;
      border: none;

      &-image {
        &-logo {
          background-color: $blue-lalivraison;
          height: 30px;
          width: 90px;
          border-radius: 50px;
        }

        &-payment {
          height: 40px;
          width: 180px;
        }
      }
    }

    &-title {
      font-size: 25px;
      font-weight: bolder;
      letter-spacing: 2px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    &-line {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 768px) {
  .about-zone__block-payment-image-payment {
    width: 150px;
  }
}
