<div class="about-zone__container">

  <div class="about-zone__block-payment">
    <img class="about-zone__block-payment-image-logo about-zone__block-line"
         src="../../../assets/images/logofood.png">
    <div style="font-size: 10px">© 2020 - Tous droits réservés</div>
    <img class="about-zone__block-payment-image-payment" src="../../../assets/images/payment.png">
  </div>

  <div class="about-zone__block">
    <div class="about-zone__block-title">Ville</div>
    <div class="about-zone__block-line">Casablanca</div>
    <div class="about-zone__block-line">Rabat</div>
    <div class="about-zone__block-line">Marrakech</div>
    <div>Fès</div>
  </div>

  <div class="about-zone__block">
    <div class="about-zone__block-title">En savoir plus</div>
    <div class="about-zone__block-line">Devenir partenaire</div>
    <div class="about-zone__block-line">Devenir livreur</div>
    <div class="about-zone__block-line">Se connecter</div>
    <div>S'inscrire</div>
  </div>

</div>
