@import "~src/sass/variables";

.about-zone__ {

  &container-desktop {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $blue-lalivraison;
  }

  &container-mobile {
    display: none;
  }

  &left-zone {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    &-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &-title {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;
      }
    }

    &-cities {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-margin {
        margin-top: -2px;
      }

      &-title {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;

      }
    }
  }

  &middle-zone {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;

    &-text {
      text-align: center;
      font-size: 14px;

      &-link {
        color: white;
      }
    }
  }

  &right-zone {
    width: 33%; display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;

    &-title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .about-zone__ {

    &container-desktop {
      display: none;
    }

    &container-mobile {
      background-color: $blue-lalivraison;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 250px;
    }
  }
}
