<div class="about-zone__container-desktop">


  <div class="about-zone__middle-zone">
    <img src="../../../assets/images/logo.png" height="60" width="240" style="margin-bottom: 10px">
    <img src="../../../assets/images/store.png" height="75" width="400">
  </div>

  <div style="display: flex; height: 170px; width: 70%; align-items: center; justify-content: space-between; border-bottom: 2px white solid; border-top: 2px white solid">

    <div class="about-zone__left-zone-cities" style="text-align: center">
      <div class="about-zone__left-zone-cities-title">Villes</div>
      <div style="">Casablanca</div>
      <div class="about-zone__left-zone-cities-margin">Rabat</div>
      <div class="about-zone__left-zone-cities-margin">Marrakech</div>
      <div class="about-zone__left-zone-cities-margin">Fès</div>
    </div>

    <div style="height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center">
      <div class="about-zone__right-zone-title">Nous suivre</div>
      <img src="../../../assets/images/social_size.png" height="43" width="220">
    </div>

    <div style="text-align: center; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center">
      <div class="about-zone__right-zone-title">Opportunités</div>
      <div href="">Devenir partenaire</div>
      <div href="" style="margin-top: -2px">Devenir livreur</div>
    </div>

    <div class="about-zone__left-zone-contact" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
      <div class="about-zone__left-zone-contact-title" style="">Nous contacter</div>
      <div style="">06 82 67 23 17</div>
      <div style="margin-top: -2px">Contact@lacaisse.ma</div>
    </div>

  </div>

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <img src="../../../assets/images/paiement.png" height="50" width="300">

    <div class="about-zone__middle-zone-text">
    Lalivraison &copy; 2021 - Tous droits réservés<br>
    <a href="" class="about-zone__middle-zone-text-link">Conditions générales de vente</a>
    </div>
  </div>


</div>


<div class="about-zone__container-mobile">
    <img src="../../../assets/images/store.png" height="60" width="300">
    <img src="../../../assets/images/social_size.png" height="43" width="220">
    <img src="../../../assets/images/paiement.png" height="50" width="300">
  <div class="about-zone__left-zone-contact" style="display: flex; flex-direction: column; align-items: center;
  height: 65px">
    <div class="about-zone__left-zone-contact-title" style="margin-bottom: 5px;">Contact</div>
    <div style="">06 82 67 23 17</div>
    <div style="margin-top: -2px">Contact@lacaisse.ma</div>
  </div>
    <div class="about-zone__middle-zone-text">
      Lalivraison &copy; 2021 - Tous droits réservés<br>
      <a href="" class="about-zone__middle-zone-text-link">Conditions générales de vente</a>
    </div>
</div>
