<div style="display: flex; flex-direction: column; background-color: white; height: 100%; width: 100%; overflow: hidden">
  <!--<app-header style="min-height: 50px; min-height: 50px; width: 100%; margin-bottom: 50px;"></app-header>-->
  <app-header style="min-height: 50px; width: 100%; margin-bottom: 10px; z-index: 999"></app-header>
  <div class="app__body" style="">
    <app-swiper class="app__swiper"></app-swiper>
    <app-carousel-categories class="app__carousel-categories"></app-carousel-categories>
    <app-join-us class="app__join-us"></app-join-us>
    <app-newsletter class="app__newsletter-zone"></app-newsletter>
    <app-about-zone class="app__about-zone"></app-about-zone>
    <div style="height: 20px; background-color: lightgreen">release_firebase_fix_mobile_39</div>
  </div>
</div>


