<div style="display: flex; flex-direction: column; background-color: lightgoldenrodyellow; height: 100%; width: 100%; overflow: hidden">
  <!--<app-header style="min-height: 50px; min-height: 50px; width: 100%; margin-bottom: 50px;"></app-header>-->
  <app-header style="min-height: 50px; min-height: 50px; width: 100%; margin-bottom: 10px; z-index: 999"></app-header>
  <div style="overflow-y: scroll; padding-top: 40px; display: flex; flex-direction: column">
    <app-swiper class="app__swiper"></app-swiper>
    <app-carousel-categories class="app__carousel-categories"></app-carousel-categories>
  </div>
</div>


