.app__ {

  &header {
    height: 10%;
    min-height: 75px;
    width: 100%;
    z-index: 100;
    //position: fixed;
    //top: 0;

  }

  &swiper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &location-chooser {
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
  }

  &carousel-categories {
    min-height: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &restaurants {
    min-height: 550px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 30px;
  }

  &join-us {
    min-height: 450px;
    max-height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &newsletter-zone {
    height: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  &body {
    overflow-y: scroll;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  ::ng-deep input.mat-input-element {
    font-size: 18px !important;
  }

  .app__ {

    &swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &location-chooser {
      margin-top: 20px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &newsletter-zone {
      width: 90%;
    }

    &join-us {
      min-height: 280px;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {

  .app__ {

    &header {
      min-height: 141px;
    }

    &swiper {
      display: none;
    }

    &location-chooser {
      width: 95%;
      min-height: 180px;
      margin: 50px auto 10px auto;
    }

    &carousel-categories {
      width: 95%;
      min-height: 200px;
    }

    &restaurants {
      width: 95%;
      min-height: 230px;
      padding-bottom: 0;
    }

    &join-us {
      width: 95%;
      min-height: 200px;
    }

    &newsletter-zone {
      display: none;
    }

  }

}

::ng-deep input.mat-input-element {
  line-height: 20px !important;
}

::ng-deep .mat-form-field-label {
  font-size: 14px !important;
}
