.app__ {

  &swiper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &carousel-categories {
    //background-color: lightgreen;
    min-height: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &join-us {
    min-height: 450px;
    max-height: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &newsletter-zone {
    height: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  &about-zone {
    min-height: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  &body {
    overflow-y: scroll;
    padding-top: 15px;
    display: flex;
    flex-direction: column
  }
}

@media (max-width: 768px) {

  .app__ {

    &swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &newsletter-zone {
      width: 90%;
    }

    &join-us {
      min-height: 280px;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

}

@media (max-width: 480px) {

  .app__ {

    &swiper {
      display: none;
    }

    &carousel-categories {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 200px;
    }

    &join-us {
      width: 100%;
      min-height: 200px;
    }

    &newsletter-zone {
      display: none;
    }

    &about-zone {
      display: none;
    }
  }

}
