.app__ {

  &swiper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &carousel-categories {
    min-height: 250px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 15px;
  }

  &join-us {
    min-height: 450px;
    max-height: 450px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &body {
    overflow-y: scroll;
    padding-top: 15px;
    display: flex;
    flex-direction: column
  }
}

@media (max-width: 768px) {

  .app__ {

    &swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    &carousel-categories {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    &body {
      padding-top: 10px;
      padding-bottom: 50px;
    }

    //&join-us {
    //  min-height: 450px;
    //  max-height: 450px;
    //  //background-color: lightpink;
    //}
  }

}

@media (max-width: 480px) {

  .app__ {

    &swiper {
      display: none;
    }

    &carousel-categories {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    &join-us {
      min-height: 200px;
      max-height: 200px;
      //background-color: lightpink;
    }
  }

}
