@import "~src/sass/variables";

.carousel-item__ {

  &container {
    background-color: $blue-lalivraison;
    height: 100%;
    width: 90px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    //box-shadow: 1px 1px darkgray;
    color: $black-lalivraison;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    &-selected {
      border: 1px gray solid;
      will-change: transform;
      transform: scale(1.06);
      animation-timing-function: cubic-bezier(.075,.82,.165,1);
    }

    &:hover {
      cursor: pointer;
      //background-color: #00f7ce;
      border: 1px gray solid;
      //color: black;
      //height: 105%;
      //width: 95px;
      //padding: 0 5px 0 5px;
      will-change: transform;
      transform: scale(1.06);
      animation-timing-function: cubic-bezier(.075,.82,.165,1);
    }
  }

  &upper-zone {
    height: 60%;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &circle {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center
  }

  &image {
    height: 70%;
    width: 70%;
    border-radius: 100%
  }

  &down-zone {
    height: 40%;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
  }
}

@media (max-width: 480px) {

  .carousel-item__ {

    &container {
      width: 80px;
      height: 90%;
    }

    &upper-zone {
      height: 60%;
      border-radius: 30px;
    }

    &down-zone {
      height: 40%;
      background-color: inherit;
    }
  }
}
