@import "~src/sass/variables";

.restaurants__ {

  &container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  &title {
    color: $black-lalivraison;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 10%;

    &-image {
      height: 45px;
      width: 45px;
      margin-top: -5px;
    }
  }

  &body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 97%;
      //height: 500px;
      min-height: 90%;
      //overflow-y: scroll !important;
      //-webkit-overflow-scrolling: touch;
      //-webkit-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      //-moz-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      //box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      //padding: 5px;
      //margin-left: 5px;
      margin-top: 20px;
    }

    &-button {
      color: white;
      border-radius: 20px;
      width: 100%;

      &-container {
        height: 5%;
        color: white;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 15%;
      }

      &-mobile {

        &-container {
          display: none;
          height: 120px;
        }
      }
    }
  }

  &restaurant {
    height: 250px;
    width: 180px;
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;
    //-webkit-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
    //-moz-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
    //box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);


    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);


    &:hover {
      cursor: pointer;
      will-change: transform;
      transform: scale(1.03);
      animation-timing-function: cubic-bezier(.075,.82,.165,1);


    }
  }
}

@media (max-width: 1443px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 15px;
    }

    &restaurant {
      width: 360px;
    }

  }
}

@media (max-width: 1399px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(4, 1fr);
    }

    &restaurant {
      width: 250px;
    }

  }
}

@media (max-width: 1320px) {

  .restaurants__ {

    &restaurant {
      width: 220px;
    }

  }
}

@media (max-width: 1200px) {

  .restaurants__ {

    &restaurant {
      width: 180px;
    }

  }
}

@media (max-width: 970px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

@media (max-width: 740px) {

  .restaurants__ {

    &body {
      grid-column-gap: 5px;
    }

  }
}

@media (max-width: 729px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(2, 1fr);
      overflow-y: scroll;
    }

    &restaurant {
      height: 200px;
      width: 100%;
    }

  }
}

@media (max-width: 480px) {
  .restaurants__ {

    &title {
      height: 20%;
      letter-spacing: 0px;
    }

    &body {
      width: 100%;
      //width: 220px;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      //height: 190px  !important;
      min-height: 100% !important;
      //background-color: lightgoldenrodyellow;
      align-items: center;

      &-container {
        margin-top: 10px;
        box-shadow: none;
        margin-left: 0;
        //height: 80% !important;
        height: 250px !important;
        //background-color: lightgreen;
        //display: flex;
        //align-items: center;
      }

      &-button {
        display: none;

        &-mobile {
          //background-color: $blue-lalivraison;
          //color: white;
          font-weight: bold;

          &-container {
            display: block;
            height: 40%;
          }
          height: 100%;
          border-radius: 30px;
        }
      }

    }

    &restaurant {
      min-width: 320px;
      margin-right: 10px;
      //height: 100%;
      height: 225px !important;
      //background-color: lightgreen;

      &:first-child {
        margin-left: 5px;
      }
      &:hover {
        will-change: unset;
        transform: none;
        animation-timing-function: unset;
      }
    }

  }
}
