<div class="restaurants__container">
  <div class="restaurants__title">
    Restaurants&nbsp;&nbsp;
    <img src="../../../assets/images/categories/restaurants.png" class="restaurants__title-image">
  </div>
  <div class="restaurants__body-container" *ngIf="restaurants.length">
    <div class="restaurants__body">
      <app-restaurant *ngFor="let restaurant of getRestaurants()"
                      [image]="restaurant.image"
                      [city]="restaurant.city"
                      [name]="restaurant.name | uppercase"
                      [delivery]="restaurant.delivery"
                      [takeAway]="restaurant.takeAway"
                      [routerLink]="['/restaurant', restaurant.id]"
                      class="restaurants__restaurant">
      </app-restaurant>

      <div class="restaurants__body-button-mobile-container">
        <button class="restaurants__body-button-mobile"
                mat-icon-button
                (click)="getMore()"
                color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="restaurants__body-button-container">
      <button class="restaurants__body-button"
              (click)="getMore()"
              mat-raised-button color="primary" >Voir plus</button>
    </div>
  </div>
</div>
