@import "~src/sass/variables";

.restaurants__ {

  &container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &title {
    color: $black-lalivraison;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 10%;

    &-image {
      height: 40px;
      width: 40px;
    }
  }

  &body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 20px;
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 97%;
      height: 500px;
      min-height: 90%;
      overflow-y: scroll !important;
      -webkit-overflow-scrolling: touch;
      -webkit-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      -moz-box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      box-shadow: 0px 2px 5px 1px rgba(179,172,179,1);
      padding: 5px;
      margin-left: 5px;
    }

    &-button {
      color: white;
      border-radius: 20px;
      width: 100%;

      &-container {
        height: 5%;
        color: white;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 15%;
      }

      &-mobile {

        &-container {
          display: none;
          height: 120px;
        }
      }
    }
  }

  &restaurant {
    height: 200px;
    width: 180px;
  }
}

@media (max-width: 1443px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(5, 1fr);
    }

    &restaurant {
      width: 210px;
    }

  }
}

@media (max-width: 1399px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(4, 1fr);
    }

    &restaurant {
      width: 250px;
    }

  }
}

@media (max-width: 1320px) {

  .restaurants__ {

    &restaurant {
      width: 220px;
    }

  }
}

@media (max-width: 1200px) {

  .restaurants__ {

    &restaurant {
      width: 180px;
    }

  }
}

@media (max-width: 970px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

@media (max-width: 740px) {

  .restaurants__ {

    &body {
      grid-column-gap: 5px;
    }

  }
}

@media (max-width: 729px) {

  .restaurants__ {

    &body {
      grid-template-columns: repeat(2, 1fr);
      overflow-y: scroll;
    }

    &restaurant {
      height: 200px;
      width: 100%;
    }

  }
}

@media (max-width: 480px) {
  .restaurants__ {

    &body {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      height: 190px  !important;

      &-container {
        margin-top: 10px;
        box-shadow: none;
        margin-left: 0;
      }

      &-button {
        display: none;

        &-mobile {

          &-container {
            display: block;
            height: 65%;
          }
          height: 100%;
          border-radius: 30px;
        }
      }

    }

    &restaurant {
      width: 150px;
      margin-right: 10px;
      height: 100%;
    }

  }
}
