<div class="restaurants__container">
  <div class="restaurants__title">
    Restaurants&nbsp;&nbsp;
    <img src="../../../assets/images/categories/restaurants.png" class="restaurants__title-image">
  </div>
  <div class="restaurants__body-container">
    <mat-spinner style="margin: auto"
                 strokeWidth="6"
                 diameter="60"
                 *ngIf="!restaurants">
    </mat-spinner>
    <div class="restaurants__body" *ngIf="restaurants">
      <app-restaurant *ngFor="let restaurant of restaurants"
                      [image]="restaurant.image"
                      [city]="restaurant.city"
                      [name]="restaurant.name | uppercase"
                      [delivery]="restaurant.delivery"
                      [takeAway]="restaurant.takeAway"
                      [routerLink]="['/restaurant', restaurant.id]"
                      class="restaurants__restaurant">
      </app-restaurant>

      <div class="restaurants__body-button-mobile-container">
        <button class="restaurants__body-button-mobile"
                mat-icon-button
                (click)="getMore()"
                *ngIf="showSpinnerForGetMore === false"
                color="primary">
          <mat-icon>add</mat-icon>
        </button>
        <mat-spinner style="margin: auto"
                     strokeWidth="4"
                     diameter="40"
                     *ngIf="showSpinnerForGetMore === true">
        </mat-spinner>
      </div>
    </div>
    <div class="restaurants__body-button-container">
      <button class="restaurants__body-button"
              *ngIf="showSpinnerForGetMore === false && restaurants && category==='Tout'"
              (click)="getMore()"
              mat-raised-button color="primary">
        Voir plus
      </button>
      <mat-spinner style="margin: auto"
                   strokeWidth="4"
                   diameter="40"
                   *ngIf="showSpinnerForGetMore === true">
      </mat-spinner>
    </div>
  </div>
</div>
