<div class="restaurants__container">
  <div class="restaurants__title">
    Restaurants&nbsp;&nbsp;
    <img src="../../../assets/images/restaurants.png" class="restaurants__title-image">
  </div>
  <div class="restaurants__body-container">
    <div class="restaurants__body">
      <app-restaurant image="../../../assets/images/restaurants/restaurant-1.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-2.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="false"
                      class="restaurants__restaurant">
      </app-restaurant>


      <app-restaurant image="../../../assets/images/restaurants/restaurant-3.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-4.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-5.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-6.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-1.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-2.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="false"
                      class="restaurants__restaurant">
      </app-restaurant>


      <app-restaurant image="../../../assets/images/restaurants/restaurant-3.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-4.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-5.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-6.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>


      <!-- -&#45;&#45;&#45;&#45;&#45;&#45;-->
      <app-restaurant image="../../../assets/images/restaurants/restaurant-1.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-2.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="false"
                      class="restaurants__restaurant">
      </app-restaurant>


      <app-restaurant image="../../../assets/images/restaurants/restaurant-3.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-4.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-5.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-6.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-1.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-2.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="false"
                      class="restaurants__restaurant">
      </app-restaurant>


      <app-restaurant image="../../../assets/images/restaurants/restaurant-3.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-4.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-5.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <app-restaurant image="../../../assets/images/restaurants/restaurant-6.png"
                      city="Casablanca"
                      name="NIKKEI.MA"
                      openTime="10:00"
                      [delivery]="true"
                      [takeAway]="true"
                      class="restaurants__restaurant">
      </app-restaurant>

      <div class="restaurants__body-button-mobile-container">
        <button class="restaurants__body-button-mobile"
                mat-raised-button
                color="primary">
          Voir tout
        </button>
      </div>
    </div>
    <div class="restaurants__body-button-container">
      <button class="restaurants__body-button" mat-raised-button color="primary" >Voir tout</button>
    </div>
  </div>
</div>
