<div class="order-details-page__container" *ngIf="orderStatus">
  <div class="order-details-page__info-zone">

    <div class="order-details-page__info-zone-title">
      Suivi de commande
    </div>

    <div class="order-details-page__info-zone-image-stepper-container">
      <div class="order-details-page__info-zone-image"
           [ngClass]="{'order-details-page__info-zone-image-takeaway' : orderStatus.service.type === 'TAKEAWAY'}">

      </div>
      <app-stepper [state]="orderStatus.state"
                   [times]="orderStatus.times"
                   [serviceType]="orderStatus.service.type"
                   class="order-details-page__info-zone-stepper">
      </app-stepper>
    </div>

    <div class="order-details-page__info-zone-order-status">
      Votre commande est <span class="order-details-page__info-zone-order-status-text">{{orderStatus.status}}</span>
    </div>

    <div class="order-details-page__info-zone-order-address-zone">
      Adresse de livraison :
      <span class="order-details-page__info-zone-order-address-zone-text">
        {{orderStatus.address}}
      </span>
    </div>


  </div>
  <div class="order-details-page__order-zone">
    <div class="order-details-page__order-zone-frame">
      <div class="order-details-page__order-zone-header">
        <div class="order-details-page__order-zone-header-text">Votre commande</div>
        <div>
          <img class="order-details-page__order-zone-frame-item-image"
               style="margin-right: 5px"
               src="../../../assets/images/swiper-3.png">
          <img class="order-details-page__order-zone-frame-item-image"
               src="../../../assets/images/swiper-0.png">
        </div>
      </div>
      <div class="order-details-page__order-zone-frame-items">

        <div *ngFor="let item of orderStatus.items" class="order-details-page__order-zone-frame-item">
          <img class="order-details-page__order-zone-frame-item-image"
               [src]="'data:image/png;base64,' + item.image">
          <div class="order-details-page__order-zone-frame-item-details">
            <span class="order-details-page__order-zone-frame-item-details-name">{{item.name}}</span>
            <div class="order-details-page__order-zone-frame-item-details-text">
              <span>{{item.count}}&nbsp;&nbsp;</span>x
              <span class="order-details-page__order-zone-frame-item-details-text-price">
                &nbsp;&nbsp;{{item.unitPrice}} Dhs
              </span>
            </div>
          </div>
        </div>

        <div class="order-details-page__order-zone-frame-bill">
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Sous-total</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">{{orderStatus.total}} Dhs</div>
          </div>
          <div *ngIf="orderStatus.service.type === 'DELIVERY'"
               class="order-details-page__order-zone-frame-bill-line">
            <div>Livraison</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">{{orderStatus.service.fees}} Dhs</div>
          </div>
          <hr class="order-details-page__order-zone-frame-bill-line-separator">
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Total</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">
              {{orderStatus.total + orderStatus.service.fees}} Dhs
            </div>
          </div>
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Paiement</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">Espèce</div>
          </div>
        </div>

      </div>
    </div>
    <img  src="../../../assets/images/shape10.png" class="order-details-page__order-zone-footer" style="margin-top: -8px">
  </div>
</div>
<app-about-zone class="order-details-page__about-zone"></app-about-zone>
