<div class="order-details-page__container">
  <div class="order-details-page__info-zone">

    <div class="order-details-page__info-zone-title">
      Suivi de commande
    </div>

    <div class="order-details-page__info-zone-image-stepper-container">
      <div class="order-details-page__info-zone-image"></div>
      <app-stepper class="order-details-page__info-zone-stepper"></app-stepper>
    </div>

    <div class="order-details-page__info-zone-order-status">
      Votre commande est <span class="order-details-page__info-zone-order-status-text">préparée</span>
    </div>

    <div class="order-details-page__info-zone-order-address-zone">
      Adresse de livraison :
      <span class="order-details-page__info-zone-order-address-zone-text">
        Al mohades, résidence Malik appt 9 quartier palmiers, Casablanca
      </span>
    </div>


  </div>
  <div class="order-details-page__order-zone">
    <div class="order-details-page__order-zone-frame">
      <div class="order-details-page__order-zone-header">
        <div class="order-details-page__order-zone-header-text">Votre commande</div>
        <div>
          <img class="order-details-page__order-zone-frame-item-image"
               style="margin-right: 5px"
               src="../../../assets/images/swiper-3.png">
          <img class="order-details-page__order-zone-frame-item-image"
               src="../../../assets/images/swiper-0.png">
        </div>
      </div>
      <div class="order-details-page__order-zone-frame-items">

        <div *ngFor="let item of basketService.items" class="order-details-page__order-zone-frame-item">
          <img class="order-details-page__order-zone-frame-item-image"
               [src]="item.image">
          <div class="order-details-page__order-zone-frame-item-details">
            <span class="order-details-page__order-zone-frame-item-details-name">{{item.name}}</span>
            <div class="order-details-page__order-zone-frame-item-details-text">
              <span>{{item.count}}&nbsp;&nbsp;</span>x
              <span class="order-details-page__order-zone-frame-item-details-text-price">&nbsp;&nbsp;{{item.unitPrice}} Dhs</span>
            </div>
          </div>
        </div>

        <!--<div class="order-details-page__order-zone-frame-item">-->
          <!--<img class="order-details-page__order-zone-frame-item-image"-->
               <!--src="../../../assets/images/p1.png">-->
          <!--<div class="order-details-page__order-zone-frame-item-details">-->
            <!--<span class="order-details-page__order-zone-frame-item-details-name">SALADE DE CHOUX</span>-->
            <!--<div class="order-details-page__order-zone-frame-item-details-text">-->
              <!--<span>2&nbsp;&nbsp;</span>x-->
              <!--<span class="order-details-page__order-zone-frame-item-details-text-price">&nbsp;&nbsp;50.00 Dhs</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="order-details-page__order-zone-frame-bill">
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Sous-total</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">{{basketService.total()}} Dhs</div>
          </div>
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Livraison</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">0 Dhs</div>
          </div>
          <hr class="order-details-page__order-zone-frame-bill-line-separator">
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Total</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">{{basketService.total()}} Dhs</div>
          </div>
          <div class="order-details-page__order-zone-frame-bill-line">
            <div>Paiement</div>
            <div class="order-details-page__order-zone-frame-bill-line-price">Espèce</div>
          </div>
        </div>

      </div>
    </div>
    <img  src="../../../assets/images/shape10.png" class="order-details-page__order-zone-footer" style="margin-top: -8px">
  </div>
</div>
