<div class="join-us__container">
  <div class="join-us__title">Rejoignez nous</div>

  <div class="join-us__content">

    <!--for desktop and tablet-->
    <div class="join-us__cards-container">
      <div class="join-us__card">
        <img class="join-us__card-image" src="../../../assets/images/join-us-partner.png">
        <div>Restaurateur</div>
        <button class="join-us__button"
                mat-raised-button
                color="primary">
          <span class="join-us__button-partner"></span>
        </button>
      </div>
      <div class="join-us__card">
        <img class="join-us__card-image"
             src="../../../assets/images/join-us-delivery.png">
        <div>Livreur</div>
        <button class="join-us__button"
                mat-raised-button
                color="primary">
          <span class="join-us__button-delivery"></span>
        </button>
      </div>
    </div>

    <!--for mobile-->
    <div class="join-us__mobile-line">
      <div class="join-us__mobile-line-text" >Devenir livreur</div>
      <div class="join-us__mobile-line-button-container">
        <button class="join-us__mobile-line-button">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="join-us__mobile-line">
      <div class="join-us__mobile-line-text">Devenir Partenaire</div>
      <div class="join-us__mobile-line-button-container">
        <button class="join-us__mobile-line-button">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>


</div>
