<div class="join-us__container">
  <div class="join-us__title">Rejoignez nous</div>

  <div class="join-us__content">

    <!--for desktop and tablet-->
    <div class="join-us__cards-container">
      <div class="join-us__card">
        <img class="join-us__card-image" src="../../../assets/images/1421849520restauFotolia_65288735_XS.jpg">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; height: 50%">
          <div>Restaurateur</div>
          <div style="font-size: 18px; font-weight: 300; width: 95%; text-align: center; color: gray; margin-top: -5px">
            Multipliez les ventes
          </div>
          <div style="font-size: 14px; font-weight: normal; width: 95%; text-align: center;">
            Boostez vos affaires en devenant partenaire et en exploitant les outils, la technologie
            et la clientèle qui font venir une ville tout entière jusqu'à chez vous.
          </div>
          <button class="join-us__button"
                  mat-raised-button
                  color="primary">
            <span class="join-us__button-partner"></span>
          </button>
        </div>
      </div>
      <div class="join-us__card">
        <img class="join-us__card-image"
             src="../../../assets/images/delivery_man.png">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-around; height: 50%">
          <div>Livreur</div>
          <div style="font-size: 18px; font-weight: 300; width: 95%; text-align: center; color: gray; margin-top: -5px">
            Les horaires de votre choix
          </div>
          <div style="font-size: 14px; font-weight: normal; width: 95%; text-align: center;">
            Devenez votre propre patron. Choisissez vos horaires, générez un chiffre d'affaire compétitif et découvrez votre ville en effectuant des livraisons. Inscrivez-vous pour collaborer avec nous !
          </div>
          <button class="join-us__button"
                  [routerLink]="['/devenir-livreur']"
                  mat-raised-button
                  color="primary">
            <span class="join-us__button-delivery"></span>
          </button>
        </div>
      </div>
    </div>

    <!--for mobile-->
    <div class="join-us__mobile-line">
      <div class="join-us__mobile-line-text" >Devenir livreur</div>
      <div class="join-us__mobile-line-button-container">
        <button mat-raised-button class="join-us__mobile-line-button">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="join-us__mobile-line">
      <div class="join-us__mobile-line-text">Devenir Partenaire</div>
      <div class="join-us__mobile-line-button-container">
        <button mat-raised-button class="join-us__mobile-line-button">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>


</div>
