<div class="stepper__container">
  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle-filled">
        <img class="stepper__step-circle-image"
             src="../../../../assets/images/order_status_icon_stepper_validated.png">
      </div>
      <div class="stepper__line-filled"></div>
    </div>
    <div class="stepper__step-text-filled">Validée</div>
    <div class="stepper__step-text-filled" style="font-weight: normal">15h00</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle-filled">
        <img class="stepper__step-circle-image"
             src="../../../../assets/images/order_status_icon_stepper_ready.png">
      </div>
      <div class="stepper__line"></div>
    </div>
    <div class="stepper__step-text-filled">Préparée</div>
    <div class="stepper__step-text-filled" style="font-weight: normal">15h10</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle">
        <img src="../../../../assets/images/order_status_icon_stepper_sent.png"
             class="stepper__step-circle-image"
             style="margin-left: -2px; margin-top: -2px">
      </div>
      <div class="stepper__line"></div>
    </div>
    <div class="stepper__step-text">Expédiée</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle">
        <img src="../../../../assets/images/order_status_icon_stepper_delivered.png"
             class="stepper__step-circle-image">
      </div>
    </div>
    <div class="stepper__step-text">Livrée</div>
  </div>

</div>
