<div class="stepper__container">
  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle-filled">
        <img class="stepper__step-circle-image"
             src="../../../../assets/images/order_status_icon_stepper_validated.png">
      </div>
      <div class="stepper__line-filled"></div>
    </div>
    <div class="stepper__step-text-filled">
      <span>Validée</span>
      <span class="stepper__step-text-filled-hour-mobile">15h00</span>
    </div>
    <div class="stepper__step-text-filled-hour-desktop" style="font-weight: normal">15h00</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle-filled">
        <img class="stepper__step-circle-image"
             src="../../../../assets/images/order_status_icon_stepper_ready.png">
      </div>
      <div class="stepper__line"></div>
    </div>
    <div class="stepper__step-text-filled">
      <span>Préparée</span>
      <span class="stepper__step-text-filled-hour-mobile">15h10</span>
    </div>
    <div class="stepper__step-text-filled-hour-desktop" style="font-weight: normal">15h10</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle">
        <img src="../../../../assets/images/order_status_icon_stepper_sent.png"
             class="stepper__step-circle-image"
             style="margin-left: -2px; margin-top: -2px">
      </div>
      <div class="stepper__line"></div>
    </div>
    <div class="stepper__step-text">
      <span>Expédiée</span>
      <span class="stepper__step-text-filled-hour-mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="stepper__step-text-filled-hour-desktop" style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>

  <div class="stepper__step">
    <div class="stepper__step-circle-line-container">
      <div class="stepper__step-circle">
        <img src="../../../../assets/images/order_status_icon_stepper_delivered.png"
             class="stepper__step-circle-image">
      </div>
    </div>
    <div class="stepper__step-text">
      <span>Livrée</span>
      <span class="stepper__step-text-filled-hour-mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="stepper__step-text-filled-hour-desktop" style="font-weight: normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>

</div>
